<link rel="import" href="/bower_components/polymer/polymer.html" />
<!-- <link rel="import" href="/components/schedule-chooser.html" /> -->
<link rel="import" href="/bower_components/paper-toolbar/paper-toolbar.html" />
<link rel="import" href="/bower_components/iron-icons/iron-icons.html" />
<link rel="import" href="/bower_components/iron-a11y-keys/iron-a11y-keys.html" />
<link rel="import" href="/bower_components/iron-ajax/iron-ajax.html" />
<link rel="import" href="/bower_components/paper-icon-button/paper-icon-button.html" />
<link rel="import" href="/bower_components/paper-button/paper-button.html" />
<link rel="import" href="/bower_components/paper-material/paper-material.html" />
<link rel="import" href="/bower_components/paper-item/paper-item.html" />
<link rel="import" href="/bower_components/neon-animation/neon-animated-pages.html" />
<link rel="import" href="/bower_components/neon-animation/neon-animations.html" />
<link rel="import" href="/bower_components/paper-progress/paper-progress.html" />
<link rel="import" href="/bower_components/iron-flex-layout/iron-flex-layout.html" />
<link rel="import" href="/components/content-panel.html" />
<!--<link rel="import" href="/components/session-list.html" />-->
<link rel="import" href="/components/timeslot-list.html" />

<dom-module id="registration-element">
	<style>
			/* TODO(polyup): For speed, consider reworking these styles with .classes
						 and #ids rather than [attributes].
		*/
			[layout] {
				@apply(--layout);
			}

				[layout][horizontal] {
					@apply(--layout-horizontal);
				}
	</style>
	<style>
		paper-progress {
			position: fixed;
			bottom: 0;
			width: 100%;
			--paper-progress-height: 5px;
			--paper-progress-active-color: #3ea346;
			--paper-progress-transition-duration: 0.5s;
		}

		paper-toast {
			width: 100%;
			min-width: 0;
			border-radius: 0;
			margin: 0;
		}
			paper-toast[error] {
				--paper-toast-background-color: #ff4136;
			}

		.large {
			--content-panel-width: 580px;
		}

		.flex-container {
			padding-top: 5px;
			@apply(--layout-horizontal);
		}
		.flex {
			@apply(--layout-flex);
		}
	</style>
	<template>
		<!-- Key handler for arrow key events -->
		<iron-a11y-keys target="{{rootDocument}}" keys="left pagedown" on-keys-pressed="goBackward"></iron-a11y-keys>
		<iron-a11y-keys target="{{rootDocument}}" keys="right pageup" on-keys-pressed="goForward"></iron-a11y-keys>
		<!-- AJAX for loading the user's data -->
		<iron-ajax auto url="/user" handle-as="json" last-response="{{user}}" on-error="handleError"></iron-ajax>
		<iron-ajax auto url="/register/sessions" handle-as="json" last-response="{{sessionTimes}}" on-response="loaded" on-error="handleError"></iron-ajax>
		<iron-ajax id="complete-ajax" method="POST" url="/register/done" handle-as="json" on-response="handleExitDone" on-error="handleExitFailed"></iron-ajax>
		<neon-animated-pages id="progressController" selected="0" entry-animation="[[entryAnimation]]" exit-animation="[[exitAnimation]]">
			<content-panel headtitle="Welcome">
				<img src="/img/logo.svg" alt="WPP" />
				<h1>World Perspectives Symposium</h1>
				<iron-ajax auto url="/data/date" handle-as="json" last-response="{{symposiumDate}}" on-error="handleError"></iron-ajax>
				<h2>[[symposiumDate.formatted]]</h2>
				<p>
					Registering for: <span>{{user.name}}</span>
				</p>
				<footer>
					<div class="flex-container">
						<span class="flex"></span>
						<paper-button forward on-click="handleButton">
							Next
							<iron-icon icon="arrow-forward"></iron-icon>
						</paper-button>
					</div>
				</footer>
			</content-panel>
			<content-panel headtitle="Instructions">
				<p class="no-margin">You'll choose a session or panel to attend for each of the five presentation periods of the symposium</p>
				<ul>
					<li><strong>Panel:</strong> A panel is a large session with many presenters discussing a general topic</li>
					<li><strong>Global Studies Session:</strong> A session with a single presenter on a specific global issue</li>
					<li><strong>Science Session:</strong> A session with a single presenter on scientific research that the presenter has performed</li>
				</ul>
				<p>
					<em>
						You must choose at least one panel and one session.<!--
						<br />
						You also have the option of selecting up to one free.-->
					</em>
				</p>
				<footer>
					<div class="flex-container">
						<paper-button backward on-click="handleButton">
							<iron-icon icon="arrow-back"></iron-icon>
							Back
						</paper-button>
						<span class="flex"></span>
						<paper-button forward on-click="handleButton">
							Next
							<iron-icon icon="arrow-forward"></iron-icon>
						</paper-button>
					</div>
				</footer>
			</content-panel>

			<template is="dom-repeat" items="[[sessionTimes]]">
				<content-panel headtitle="Choose Session" class="large">
					<timeslot-list url="[[item.start.url]]" start="[[item.start]]" end="[[item.end]]" index="[[index]]"></timeslot-list>
					<footer>
						<div class="flex-container">
							<paper-button backward on-click="handleButton">
								<iron-icon icon="arrow-back"></iron-icon>
								Back
							</paper-button>
							<span class="flex"></span>
							<paper-button forward disabled index="[[index]]" on-click="handleButton">
								Next
								<iron-icon icon="arrow-forward"></iron-icon>
							</paper-button>
						</div>
					</footer>
				</content-panel>
			</template>
			<content-panel headtitle="Finished" class="large">
				<p class="no-margin">Here are the sessions that you've selected and been placed in. Please note that they are subject to change before the symposium.</p>
				<template is="dom-repeat" items="[[selections]]">
					<p style="font-size: 1.4em;">[[item.time.start.formatted]] – [[item.time.end.formatted]]: <b>[[item.title.formatted]]</b></p>
				</template>
				<footer>
					<div class="flex-container">
						<paper-button backward on-click="handleButton">
							<iron-icon icon="arrow-back"></iron-icon>
							Back
						</paper-button>
						<span class="flex"></span>
						<paper-button forward on-click="handleExit">
							<iron-icon icon="done-all" style="margin-left: 0; margin-right: 4px;"></iron-icon>
							Done
						</paper-button>
					</div>
				</footer>
			</content-panel>
		</neon-animated-pages>
		<paper-progress id="progress" class="transiting"></paper-progress>
		<paper-toast id="loading" text="Loading..." duration="0"></paper-toast>
		<paper-toast id="done" text="Something happened" duration="5000"></paper-toast>
		<paper-toast id="error" error text="Something happened" duration="5000"></paper-toast>
	</template>
	<script>
		Polymer({
			is: "registration-element",
			properties: {
				panelCount: {
					type: Number,
					value: 0
				},
				remainingSlot1: {
					type: Object,
					value: function () {
						return {};
					}
				},
				remainingSlot2: {
					type: Object,
					value: function () {
						return {};
					}
				},
				rootDocument: {
					value: function () {
						return document;
					}
				},
				// Progress functions
				transitioning: {
					type: Boolean,
					value: false
				},
				user: {
					type: Object,
					value: function () {
						return { "name": "Loading..." };
					}
				},
				selections: {
					type: Array,
					value: function () {
						return [];
					}
				}
			},
			ready: function () {
				this.panelCount = this.$.progressController.getElementsByTagName("content-panel").length;
				this.$.progressController.addEventListener("iron-select", function () {
					this.$.progress.value = this.$.progressController.selected / (this.panelCount - 1) * 100;
				}.bind(this));
				this.$.progressController.addEventListener("neon-animation-finish", function () {
					this.transitioning = false;
				}.bind(this));
				window.triggerSelectionUpdate = this.triggerSelectionUpdate.bind(this);
			},
			loaded: function () {
				this.panelCount += this.sessionTimes.length;
			},
			triggerSelectionUpdate: function (selection) {
				for (var i = 0; i < this.selections.length; i++) {
					if (this.selections[i].time.start.raw === selection.time.start.raw) {
						this.selections.splice(i, 1);
						break;
					}
				}
				this.selections = this.selections.concat(selection).sort(function (a, b) {
					return new Date(a.time.start.raw) - new Date(b.time.start.raw);
				});
			},
			handleButton: function (e) {
				var element = e.target || e.srcElement;
				if (element.attributes.backward || element.parentElement.attributes.backward) {
					this.goBackward();
				} else if (element.attributes.forward || element.parentElement.attributes.forward) {
					// Check if progression is allowed
					if (element.hasAttribute("disabled"))
						return;
					this.goForward();
				}
			},
			handleExit: function () {
				this.$["complete-ajax"].generateRequest();
				this.$.loading.open();
			},
			handleExitDone: function () {
				this.$.loading.close();
				var response = this.$["complete-ajax"].lastResponse;
				if (!response.success) {
					this.$.error.show(response.message);
				}
				else {
					window.location = "/";
				}
			},
			handleExitFailed: function (e) {
				this.$.loading.close();
				this.$.error.show(e.target.lastError.error.message || "An error occurred!");
			},
			goBackward: function () {
				if (this.transitioning)
					return;
				window.scrollTo(0, 0);
				this.entryAnimation = "slide-from-left-animation";
				this.exitAnimation = "slide-right-animation";
				this.checkBoundsAndExecute(false);
			},
			goForward: function () {
				if (this.transitioning)
					return;
				if (document.getElementsByTagName("content-panel")[this.$.progressController.selected].querySelector("paper-button[forward]").hasAttribute("disabled"))
					return;

				window.scrollTo(0, 0);
				this.entryAnimation = "slide-from-right-animation";
				this.exitAnimation = "slide-left-animation";
				this.checkBoundsAndExecute(true);
			},
			checkBoundsAndExecute: function (forward) {
				if (this.$.progressController.selected <= 0 && !forward) {
					this.$.progressController.selected = 0;
					this.transitioning = false;
					return;
				}
				if (this.$.progressController.selected >= this.panelCount - 1 && forward) {
					this.$.progressController.selected = this.panelCount - 1;
					this.transitioning = false;
					return;
				}
				if (forward) {
					this.$.progressController.selected++;
				}
				else {
					this.$.progressController.selected--;
				}
				this.transitioning = true;
			}
		});
	</script>
</dom-module>
