<link rel="import" href="/bower_components/polymer/polymer.html" />
<link rel="import" href="/bower_components/paper-toolbar/paper-toolbar.html" />
<link rel="import" href="/bower_components/paper-tabs/paper-tabs.html" />
<link rel="import" href="/bower_components/iron-icons/iron-icons.html" />
<link rel="import" href="/bower_components/paper-menu/paper-menu.html" />
<link rel="import" href="/bower_components/paper-item/paper-item.html" />
<link rel="import" href="/bower_components/iron-ajax/iron-ajax.html" />
<link rel="import" href="/bower_components/paper-button/paper-button.html" />
<link rel="import" href="/bower_components/paper-input/paper-input.html" />
<link rel="import" href="/bower_components/paper-input/paper-input-decorator.html" />
<link rel="import" href="/bower_components/paper-input/paper-autogrow-textarea.html" />
<link rel="import" href="/bower_components/paper-toast/paper-toast.html" />
<link rel="import" href="/components/content-section.html" />
<link rel="import" href="/bower_components/iron-flex-layout/iron-flex-layout.html" />
<dom-module id="admin-page">
	<style>
		/* TODO(polyup): For speed, consider reworking these styles with .classes
						 and #ids rather than [attributes].
		*/
		[layout] {
			@apply(--layout);
		}
			[layout][horizontal] {
				@apply(--layout-horizontal);
			}
	</style>
	<style>
		paper-toolbar {
			background: #3ea346;
			color: #f1f1f1;
			fill: #f1f1f1;
			z-index: 150;
			height: calc(64px * 2 - 20px) !important;
		}
			paper-toolbar span.title {
				font-size: 125%;
				text-align: center;
				-webkit-user-select: none;
				-moz-user-select: none;
				-ms-user-select: none;
				user-select: none;
				cursor: default;
			}
		paper-tabs {
			--paper-tabs-selection-bar-color: #C4E9C7;
			--paper-tabs-selection-bar: {
				height: 3px;
			}
		}
		paper-tab {
			--paper-tab-ink: #3e77a3;
			--paper-tab-content-unselected: {
				font-weight: normal;
			}
		}

		paper-toast {
			width: 100%;
			bottom: 0;
			left: 0;
			border-radius: 0;
			text-align: center;
		}
			paper-toast[error] {
				background-color: #ff4136;
			}

		:host {
			height: 100%;
		}

		#sidepanel {
			height: 100%;
			background-color: white;
			width: 256px;
			transition: margin-left 0.3s;
			position: fixed;
			top: 0px;
			box-shadow: 0 0 6px rgba(0,0,0,0.3);
			z-index: 200;
		}

			#sidepanel.hidden {
				margin-left: -256px;
			}
			#sidepanel paper-icon-button {
				top: 12px;
				left: 15px;
			}
		paper-menu paper-item {
			padding-left: 24px;
		}
		paper-menu paper-item iron-icon {
			padding-right: 8px;
		}

		section.minor {
			color: rgb(153, 153, 153);
			position: absolute;
			bottom: 0;
			width: 100%;
		}
			section.minor ul {
				list-style: none;
				padding-left: 0;
			}
			section.minor paper-button {
				margin-left: 10px;
				margin-right: 10px;
				width: calc(100% - 20px);
			}
				section.minor paper-button:hover {
					color: black;
				}

		.input-style /deep/ ::-webkit-input-placeholder {
			color: #3ea346;
		}

		.input-style /deep/ ::-moz-placeholder {
			color: #3ea346;
		}

		.input-style /deep/ :-ms-input-placeholder {
			color: #3ea346;
		}

		.input-style /deep/ .floated-label .label-text, .input-style /deep/ .error {
			color: #3ea346;
		}

		.input-style /deep/ .unfocused-underline {
			background-color: #3ea346;
		}

		.input-style[focused] /deep/ .floated-label .label-text {
			color: #3ea346;
		}

		.input-style /deep/ .focused-underline {
			background-color: #3ea346;
		}

		.input-style.invalid /deep/ .floated-label .label-text, .input-style /deep/ .error {
			color: #3ea346;
		}

		.input-style.invalid /deep/ .focused-underline {
			background-color: #3ea346;
		}

		.input-style {
			color: #3ea346;
			text-align: left;
		}

			.input-style /deep/ textarea, .input-style /deep/ input {
				color: black;
			}

		content-section:first-of-type h2, content-section:nth-of-type(2) h2 {
			margin-bottom: 0;
		}

		paper-button[raised] {
			background: #3ea346;
			color: #fff;
		}
		paper-button a {
			color: rgb(153, 153, 153);
			text-decoration: none;
		}
		/* Mobile styles */
		@media screen and (max-width: 35.5em) {

		}
	</style>
	<template>
		<iron-ajax id="user-ajax" auto url="/user" handle-as="json" on-response="userResponse" on-error="handleError"></iron-ajax>
		<paper-toolbar class="medium-tall">
			<paper-icon-button icon="menu" on-tap="toggleMenu"></paper-icon-button>
			<span class="title">Admin Panel</span>
			<div style="top: -4px;" class="middle fit">
				<paper-tabs selected="0">
					<paper-tab>Schedules</paper-tab>
					<paper-tab>Panels</paper-tab>
					<paper-tab>Sessions</paper-tab>
					<paper-tab>Add Students</paper-tab>
					<paper-tab>Add Faculty</paper-tab>
					<paper-tab>Send Emails</paper-tab>
				</paper-tabs>
			</div>
		</paper-toolbar>
		<section id="sidepanel" class="hidden">
			<paper-icon-button icon="arrow-back" on-tap="toggleMenu"></paper-icon-button>
			<paper-menu selected="1">
				<paper-item>
					<iron-icon icon="event"></iron-icon>
					<span>Schedule</span>
				</paper-item>
				<paper-item on-tap="admin">
					<iron-icon icon="settings"></iron-icon>
					<span>Admin Panel</span>
				</paper-item>
			</paper-menu>
			<section class="minor">
				<ul>
					<li id="about">
						<paper-button noink>
							<a href="/about">About</a>
						</paper-button>
					</li>
					<li id="contact">
						<paper-button noink>
							<a href="mailto:petschekr@gfacademy.org">Contact</a>
						</paper-button>
					</li>
				</ul>
			</section>
		</section>
		<content-section>
			<h2>Schedules</h2>
			<paper-input id="schedulesearch" class="input-style" label="Name" always-float-label></paper-input>
			<div horizontal layout>
				<span flex></span>
				<paper-button raised on-click="allSchedules">
					<a style="text-decoration: none; color: white;" href="/admin/schedule/all" target="_blank">Get All</a>
				</paper-button>
				<paper-button raised on-click="searchSchedule">
					Search
				</paper-button>
				<span flex></span>
			</div>
		</content-section>
		<paper-toast id="loading" text="Loading..." duration="9999999" swipeDisabled autoCloseDisabled></paper-toast>
		<paper-toast id="notifier" error text="Something happened" duration="5000"></paper-toast>
	</template>
	<script>
		Polymer({
			is: "admin-page",
			properties: {
				menuOpened: {
					type: Boolean,
					value: false
				},
				panels: {
					type: Array,
					value: function () {
						return [];
					}
				},
				schedule: {
					type: Array,
					value: function () {
						return [];
					}
				},
				sessions: {
					type: Array,
					value: function () {
						return [];
					}
				},
				user: {
					type: Object,
					value: function () {
						return { name: "Loading..." };
					}
				}
			},
			toggleMenu: function () {
				this.menuOpened = !this.menuOpened;
				if (this.menuOpened) {
					Polymer.dom(this.$.sidepanel).classList.remove("hidden");
				} else {
					Polymer.dom(this.$.sidepanel).classList.add("hidden");
				}
			},
			userResponse: function () {
				this.user = this.$["user-ajax"].lastResponse;
				window.user = this.user;
			},
			handleError: function (e) {
				this.$.loading.dismiss();
				this.set("$.notifier.text", e.detail.response.response.error || "An error occurred!");
				this.$.notifier.show();
			}
		});
	</script>
</dom-module>