<link rel="import" href="/bower_components/polymer/polymer.html" />
<link rel="import" href="/bower_components/paper-toolbar/paper-toolbar.html" />
<link rel="import" href="/bower_components/paper-tabs/paper-tabs.html" />
<link rel="import" href="/bower_components/iron-icons/iron-icons.html" />
<link rel="import" href="/bower_components/paper-menu/paper-menu.html" />
<link rel="import" href="/bower_components/paper-item/paper-item.html" />
<link rel="import" href="/bower_components/paper-item/paper-item-body.html" />
<link rel="import" href="/bower_components/iron-ajax/iron-ajax.html" />
<link rel="import" href="/bower_components/paper-button/paper-button.html" />
<link rel="import" href="/bower_components/paper-toast/paper-toast.html" />
<link rel="import" href="/components/content-section.html" />
<link rel="import" href="/bower_components/iron-flex-layout/iron-flex-layout.html" />
<link rel="import" href="/bower_components/neon-animation/neon-animated-pages.html" />
<link rel="import" href="/bower_components/neon-animation/neon-animatable.html" />
<link rel="import" href="/bower_components/neon-animation/neon-animations.html" />
<link rel="import" href="/bower_components/paper-input/paper-input.html" />
<link rel="import" href="/bower_components/paper-toggle-button/paper-toggle-button.html" />
<dom-module id="admin-page">
	<style>
		/* TODO(polyup): For speed, consider reworking these styles with .classes
						 and #ids rather than [attributes].
		*/
		[layout] {
			@apply(--layout);
		}
			[layout][horizontal] {
				@apply(--layout-horizontal);
			}
	</style>
	<style>
		paper-toolbar {
			background: #3ea346;
			color: #f1f1f1;
			fill: #f1f1f1;
			z-index: 150;
			height: calc(64px * 2 - 20px) !important;
		}
			paper-toolbar span.title {
				/* Compensate for menu button be truly centered */
				margin-left: -60px;
				font-size: 125%;
				text-align: center;
				-webkit-user-select: none;
				-moz-user-select: none;
				-ms-user-select: none;
				user-select: none;
				cursor: default;
			}
		paper-tabs {
			--paper-tabs-selection-bar-color: #C4E9C7;
			--paper-tabs-selection-bar: {
				height: 3px;
			}
		}
		paper-tab {
			--paper-tab-ink: #3e77a3;
			--paper-tab-content-unselected: {
				font-weight: normal;
			}
		}

		paper-toast {
			width: 100%;
			min-width: 0;
			border-radius: 0;
			margin: 0;
		}
			paper-toast[error] {
				--paper-toast-background-color: #ff4136;
			}

		:host {
			height: 100%;
		}

		#sidepanel {
			height: 100%;
			background-color: white;
			width: 256px;
			transition: margin-left 0.3s;
			position: fixed;
			top: 0px;
			box-shadow: 0 0 6px rgba(0,0,0,0.3);
			z-index: 200;
		}

			#sidepanel.hidden {
				margin-left: -256px;
			}
			#sidepanel paper-icon-button {
				top: 12px;
				left: 15px;
			}
		paper-menu paper-item {
			padding-left: 24px;
			cursor: pointer;
		}
		paper-menu paper-item a {
			color: rgb(33, 33, 33);
			text-decoration: none;
		}
		paper-menu paper-item iron-icon {
			padding-right: 8px;
		}

		section.minor {
			color: rgb(153, 153, 153);
			position: absolute;
			bottom: 0;
			width: 100%;
		}
			section.minor ul {
				list-style: none;
				padding-left: 0;
			}
			section.minor paper-button {
				margin-left: 10px;
				margin-right: 10px;
				width: calc(100% - 20px);
			}
				section.minor paper-button:hover {
					color: black;
				}

		content-section:first-of-type h2, content-section:nth-of-type(2) h2 {
			margin-bottom: 0;
		}

		paper-button[raised] {
			background: #3ea346;
			color: #fff;
		}
		paper-button[raised][disabled] {
			background: #eaeaea;
			color: #a8a8a8;
		}
		paper-button a {
			color: rgb(153, 153, 153);
			text-decoration: none;
		}

		paper-input {
			--paper-input-container-focus-color: #3ea346;
		}

		paper-toggle-button {
			--paper-toggle-button-checked-bar-color: #3ea346;
			--paper-toggle-button-checked-button-color: #3ea346;
			--paper-toggle-button-checked-ink-color: #3ea346;
		}

		neon-animated-pages {
			@apply(--layout-flex);
		}
		neon-animatable {
			@apply(--layout-horizontal);
			@apply(--layout-center-center);
		}

		div.toggle-button-container {
			padding-top: 10px;
			@apply(--layout-horizontal);
		}
		div.toggle-button-container .flex {
			@apply(--layout-flex);
		}

		span[suffix] {
			opacity: 0.6;
		}

		paper-item {
			--paper-item-focused-before: {
				opacity: 0;
			}
		}
		paper-item .info {
			padding: 0 5px;
			font-family: "Roboto", "Noto", sans-serif;
			-webkit-font-smoothing: antialiased;
			font-size: 14px;
			font-weight: 400;
			line-height: 20px;
			color: #737373;
			margin-top: 1px;
		}
		.flex-container {
			padding-top: 5px;
			@apply(--layout-horizontal);
		}
		.flex {
			@apply(--layout-flex);
		}

		/* Mobile styles */
		@media screen and (max-width: 35.5em) {

		}
	</style>
	<template>
		<iron-ajax id="user-ajax" auto url="/user" handle-as="json" on-response="userResponse" on-error="handleError"></iron-ajax>
		<iron-ajax id="add-user-ajax" method="POST" url="/admin/user" handle-as="json" on-response="addUserResponse" on-error="handleError"></iron-ajax>
		<iron-ajax id="delete-user-ajax" method="DELETE" url="/admin/user" handle-as="json" on-response="deleteUserResponse" on-error="handleError"></iron-ajax>

		<paper-toolbar class="medium-tall">
			<paper-icon-button icon="menu" on-tap="toggleMenu"></paper-icon-button>
			<span class="title">Admin Panel</span>
			<div style="top: -4px;" class="middle fit">
				<paper-tabs id="tabs" selected="0" on-iron-select="tabSelection">
					<paper-tab>Schedules</paper-tab>
					<paper-tab>Sessions</paper-tab>
					<paper-tab>Panels</paper-tab>
					<paper-tab>Users</paper-tab>
					<paper-tab>Send Emails</paper-tab>
				</paper-tabs>
			</div>
		</paper-toolbar>
		<section id="sidepanel" class="hidden">
			<paper-icon-button icon="arrow-back" on-tap="toggleMenu"></paper-icon-button>
			<paper-menu selected="1">
				<paper-item>
					<a href="/">
						<iron-icon icon="event"></iron-icon>
						<span>Schedule</span>
					</a>
				</paper-item>
				<paper-item on-tap="admin">
					<a href="/admin">
						<iron-icon icon="settings"></iron-icon>
						<span>Admin Panel</span>
					</a>
				</paper-item>
			</paper-menu>
			<section class="minor">
				<ul>
					<li id="about">
						<paper-button noink>
							<a href="/about">About</a>
						</paper-button>
					</li>
					<li id="contact">
						<paper-button noink>
							<a href="mailto:petschekr@gfacademy.org">Contact</a>
						</paper-button>
					</li>
				</ul>
			</section>
		</section>
		<neon-animated-pages id="pages" selected="0" entry-animation="[[entryAnimation]]" exit-animation="[[exitAnimation]]">
			<neon-animatible>
				<content-section>
					<h2>Master Schedule</h2>
				</content-section>
				<content-section>
					<h2>Student Schedules</h2>
				</content-section>
				<content-section>
					<h2>Teacher Schedules</h2>
				</content-section>
			</neon-animatible>
			<neon-animatible>
				<content-section>
					<h2>Sessions</h2>
				</content-section>
			</neon-animatible>
			<neon-animatible>
				<content-section>
					<h2>Panels</h2>
				</content-section>
			</neon-animatible>
			<neon-animatible>
				<content-section>
					<h2>Add Users</h2>
					<paper-input label="Name" on-input="updateUsername" id="addUserName"></paper-input>
					<paper-input label="Username" id="addUserUsername">
						<span suffix>@gfacademy.org</span>
					</paper-input>
					<div class="toggle-button-container">
						<span class="flex"></span>
						<paper-toggle-button id="addUserType" on-change="updateUsername"><span id="addUsersTypeLabel">Student</span></paper-toggle-button>
						<span class="flex"></span>
						<paper-toggle-button id="addUserAdmin">Admin</paper-toggle-button>
						<span class="flex"></span>
						<paper-button raised disabled id="addUserButton" on-click="addUserSubmit">Add</paper-button>
						<span class="flex"></span>
					</div>
				</content-section>
				<content-section>
					<h2>Users</h2>
					<iron-ajax id="users-ajax" auto url="/admin/user" handle-as="json" last-response="{{users}}" on-error="handleError" params="{{userListParams}}"></iron-ajax>
					<template is="dom-repeat" items="[[users]]">
						<paper-item>
							<paper-item-body two-line>
								<div>[[item.name]]</div>
								<div secondary><span>[[item.username]]</span>@gfacademy.org</div>
							</paper-item-body>
							<template is="dom-if" if="[[item.admin]]">
								<div class="info">Admin</div>
							</template>
							<template is="dom-if" if="[[item.teacher]]">
								<div class="info">Teacher</div>
							</template>
							<paper-icon-button icon="clear" on-click="deleteUser"></paper-icon-button>
						</paper-item>
					</template>
					<div class="flex-container">
						<span class="flex"></span>
						<paper-button on-click="previousUserList">Previous</paper-button>
						<paper-button on-click="nextUserList">Next</paper-button>
						<span class="flex"></span>
					</div>
				</content-section>
			</neon-animatible>
			<neon-animatible>
				<content-section>
					<h2>Send Emails</h2>
				</content-section>
			</neon-animatible>
		</neon-animated-pages>
		<paper-toast id="loading" text="Loading..." duration="0"></paper-toast>
		<paper-toast id="done" text="Something happened" duration="5000"></paper-toast>
		<paper-toast id="error" error text="Something happened" duration="5000"></paper-toast>
	</template>
	<script>
		Polymer({
			is: "admin-page",
			properties: {
				menuOpened: {
					type: Boolean,
					value: false
				},
				panels: {
					type: Array,
					value: function () {
						return [];
					}
				},
				schedule: {
					type: Array,
					value: function () {
						return [];
					}
				},
				sessions: {
					type: Array,
					value: function () {
						return [];
					}
				},
				user: {
					type: Object,
					value: function () {
						return { name: "Loading..." };
					}
				},
				userListParams: {
					type: Object,
					value: function () {
						return { page: 0 };
					}
				}
			},
			ready: function () {
				// Ensure that the first selected page is always 0 and that the index is a number and not a string
				this.$.pages.selected = 0;
			},
			toggleMenu: function () {
				this.menuOpened = !this.menuOpened;
				if (this.menuOpened) {
					Polymer.dom(this.$.sidepanel).classList.remove("hidden");
				} else {
					Polymer.dom(this.$.sidepanel).classList.add("hidden");
				}
			},
			tabSelection: function () {
				var selected = this.$.tabs.selected;
				var currentlySelected = this.$.pages.selected;
				this.$.pages.cancelAnimation();
				if (selected > currentlySelected) {
					// Forward animation
					this.entryAnimation = "slide-from-right-animation";
					this.exitAnimation = "slide-left-animation";
				}
				if (selected < currentlySelected) {
					// Backward animation
					this.entryAnimation = "slide-from-left-animation";
					this.exitAnimation = "slide-right-animation";
				}
				this.$.pages.selected = selected;
			},
			updateUsername: function () {
				// Automatically fill the username field
				var name = this.$.addUserName.value.trim();
				var isTeacher = this.$.addUserType.checked;
				this.$.addUsersTypeLabel.textContent = (isTeacher) ? "Teacher" : "Student";
				if (!name) {
					this.$.addUserUsername.value = "";
					Polymer.dom(this.$.addUserButton).setAttribute("disabled", "disabled");
					return;
				}

				name = name.split(" ");
				if (name.length !== 2)
					return;
				var lastName = name[1];
				var username = "";
				if (isTeacher) {
					// Teacher usernames are of the form first initial + last name
					username = name[0][0] + lastName;
				}
				else {
					// Student usernames are of the form last name + first initial
					username = lastName + name[0][0];
				}
				username = username.toLowerCase();
				this.$.addUserUsername.value = username;
				Polymer.dom(this.$.addUserButton).removeAttribute("disabled");
			},
			addUserSubmit: function () {
				this.$.loading.open();
				var sendData = {
					"name": this.$.addUserName.value.trim(),
					"username": this.$.addUserUsername.value.trim(),
					"teacher": this.$.addUserType.checked,
					"admin": this.$.addUserAdmin.checked
				};
				this.$["add-user-ajax"].contentType = "application/json";
				this.$["add-user-ajax"].body = sendData;
				this.$["add-user-ajax"].generateRequest();
			},
			addUserResponse: function () {
				this.$.loading.close();
				var response = this.$["add-user-ajax"].lastResponse;
				if (!response.success) {
					this.$.error.text = response.message;
					this.$.error.open();
				}
				else {
					this.$.done.text = response.message;
					this.$.done.open();
				}
				// Refresh users list
				this.$["users-ajax"].generateRequest();
			},
			userResponse: function () {
				this.user = this.$["user-ajax"].lastResponse;
				window.user = this.user;
			},
			nextUserList: function (e) {
				var currentPage = this.userListParams.page;
				currentPage++;
				if (Object.keys(this.users).length < 10) {
					currentPage--;
				}
				this.userListParams = {
					page: currentPage
				};
			},
			previousUserList: function (e) {
				var currentPage = this.userListParams.page;
				currentPage--;
				if (currentPage < 0) {
					currentPage = 0;
				}
				this.userListParams = {
					page: currentPage
				};
			},
			deleteUser: function (e) {
				var username = Polymer.dom(e.currentTarget).parentNode.querySelector("span").textContent;
				var message = "Are you sure that you want to delete the user \"" + username + "\"?";
				if (!confirm(message))
					return;

				var url = "/admin/user/" + username;
				this.$.loading.open();
				this.$["delete-user-ajax"].url = url;
				this.$["delete-user-ajax"].contentType = "application/json";
				this.$["delete-user-ajax"].generateRequest();
			},
			deleteUserResponse: function () {
				this.$.loading.close();
				var response = this.$["delete-user-ajax"].lastResponse;
				if (!response.success) {
					this.$.error.text = response.message;
					this.$.error.open();
				}
				else {
					this.$.done.text = response.message;
					this.$.done.open();
				}
				// Refresh users list
				this.$["users-ajax"].generateRequest();
			},
			handleError: function (e) {
				this.$.loading.dismiss();
				this.set("$.notifier.text", e.detail.response.response.error || "An error occurred!");
				this.$.notifier.show();
			}
		});
	</script>
</dom-module>