<link rel="import" href="/bower_components/polymer/polymer.html" />

<link rel="import" href="/bower_components/paper-toolbar/paper-toolbar.html" />
<link rel="import" href="/bower_components/iron-icons/iron-icons.html" />
<link rel="import" href="/bower_components/paper-menu/paper-menu.html" />
<link rel="import" href="/bower_components/paper-item/paper-item.html" />
<link rel="import" href="/bower_components/iron-ajax/iron-ajax.html" />
<link rel="import" href="/bower_components/paper-button/paper-button.html" />
<link rel="import" href="/bower_components/paper-icon-button/paper-icon-button.html" />
<link rel="import" href="/components/content-section.html" />
<link rel="import" href="/components/table-repeat.html" />

<dom-module id="home-page">
	<template>
		<style>
			paper-toolbar {
				background: #3ea346;
				color: #f1f1f1;
				fill: #f1f1f1;
				z-index: 150;
			}
			paper-toolbar span.title {
				font-size: 125%;
				text-align: center;
				-webkit-user-select: none;
				-moz-user-select: none;
				-ms-user-select: none;
				user-select: none;
				cursor: default;
			}
			
			paper-toast {
				width: 100%;
				bottom: 0;
				left: 0;
				border-radius: 0;
				text-align: center;
			}

			paper-button a {
				color: rgb(153, 153, 153);
				text-decoration: none;
			}

			paper-menu paper-item {
				padding-left: 24px;
			}
			paper-menu paper-item iron-icon {
				padding-right: 8px;
			}

			:host {
				height: 100%;
			}

			#sidepanel {
				height: 100%;
				background-color: white;
				width: 256px;
				transition: margin-left 0.3s;
				position: fixed;
				top: 0px;
				box-shadow: 0 0 6px rgba(0,0,0,0.3);
				z-index: 200;
			}

				#sidepanel.hidden {
					margin-left: -256px;
				}
				#sidepanel paper-icon-button {
					top: 12px;
					left: 15px;
				}

			section.minor {
				color: rgb(153, 153, 153);
				position: absolute;
				bottom: 0;
				width: 100%;
			}

				section.minor ul {
					list-style: none;
					padding-left: 0;
				}

				section.minor paper-button {
					margin-left: 10px;
					margin-right: 10px;
					width: calc(100% - 20px);
				}

				section.minor paper-button a:hover {
					color: black;
				}

			#schedule h2 {
				margin-top: 0.4em;
			}

				#schedule h2.name {
					float: left;
				}

				#schedule h2.time {
					float: right;
				}

			#schedule div.clear {
				clear: both;
			}

			#schedule table {
				width: 100%;
				border-spacing: 0;
				border-collapse: collapse;
			}

				#schedule table th {
					vertical-align: bottom;
					border-bottom: 2px solid #ddd;
					padding: 8px;
					line-height: 1.42857143;
				}

				#schedule table td {
					font-weight: lighter;
					padding: 8px;
					line-height: 1.42857143;
					vertical-align: top;
					border-top: 1px solid #ddd;
				}

					#schedule table td:first-child {
						width: 152px;
					}

					#schedule table td:nth-child(2) {
						font-weight: normal;
					}

					#schedule table td:last-child {
						width: 118px;
					}

					#schedule table td.shorttime {
						display: none;
						white-space: pre;
					}

			paper-toolbar span.shorttitle {
				display: none;
			}
			/* Mobile styles */
			@media screen and (max-width: 35.5em) {
				#schedule table td:last-child {
					width: auto;
				}

				#schedule table td.longtime {
					display: none;
				}

				#schedule table td.shorttime {
					display: table-cell;
				}

				paper-toolbar span.longtitle {
					display: none;
				}

				paper-toolbar span.shorttitle {
					display: inline;
				}
			}
		</style>

		<!--<iron-ajax id="info-ajax" auto url="/info" handleAs="json" on-core-response="userResponse" on-core-error="handleError"></iron-ajax>-->
		<iron-ajax id="schedule-ajax" auto url="/data/schedule" handle-as="json" on-response="scheduleResponse" on-error="handleError"></iron-ajax>

		<paper-toolbar>
			<paper-icon-button icon="menu" on-tap="toggleMenu"></paper-icon-button>
			<span class="title longtitle">GFA World Perspectives Symposium</span>
			<!--<span flex class="shorttitle">GFA WPP Symposium</span>-->
			<paper-icon-button icon="print" on-tap="print"></paper-icon-button>
		</paper-toolbar>
		<section id="sidepanel" class="hidden">
			<paper-icon-button icon="arrow-back" on-tap="toggleMenu"></paper-icon-button>
			<paper-menu selected="0">
				<paper-item>
					<iron-icon icon="event"></iron-icon>
					<span>Schedule</span>
				</paper-item>
				<template if="{{user.admin}}">
					<paper-item on-tap="admin">
						<iron-icon icon="settings"></iron-icon>
						<span>Admin Panel</span>
					</paper-item>
				</template>
			</paper-menu>
			<section class="minor">
				<ul>
					<li id="about">
						<paper-button noink>
							<a href="/about">About</a>
						</paper-button>
					</li>
					<li id="contact">
						<paper-button noink>
							<a href="mailto:petschekr@gfacademy.org">Contact</a>
						</paper-button>
					</li>
				</ul>
			</section>
		</section>
		<content-section id="errorSection" style="display: none;">
			<h2 style="margin: 0; font-style: italic; font-weight: lighter;">The schedule below is a general schedule. Please follow the link sent to your school email to log in and see your personalized schedule.</h2>
		</content-section>
		<content-section id="notRegistered" style="display: none;">
			<h2 style="margin: 0; font-style: italic; font-weight: lighter;">You haven't finished registering yet. Please <a href="/register">register</a> to see your completed schedule.</h2>
		</content-section>
		<content-section id="schedule">
			<h2 class="name">{{user.name}}</h2>
			<h2 class="time">April 22nd, 2015</h2>
			<div class="clear"></div>

			<template is="dom-if" if="{{!scheduleLoaded}}">
				<strong>Loading schedule...</strong>
			</template>
			<template is="dom-if" if="{{scheduleLoaded}}">
				<table-repeat rows="{{schedule}}">
					<table>
						<thead>
							<tr>
								<th>Time</th>
								<th>Event</th>
								<th>Location</th>
							</tr>
						</thead>
						<tbody></tbody>
					</table>
					<template is="dom-template" class="row-template">
						<table>
							<tr>
								<td class="longtime">{{item.time}}</td>
								<td class="shorttime">{{item.shortTime}}</td>
								<td>
									<template is="dom-if" if="{{!item.editable}}">
										{{item.title}}
									</template>
									<template is="dom-if" if="{{item.editable}}">
										<b>{{item.title}}</b>
										<br />
										<i>{{item.people}}</i>
									</template>
								</td>
								<td>{{item.location}}</td>
							</tr>
						</table>
					</template>
				</table-repeat>
			</template>
		</content-section>
	</template>
	<script>
		Polymer({
			is: "home-page",
			properties: {
				"schedule": {
					type: Array,
					value: function() { return []; }
				},
				"scheduleLoaded": {
					type: Boolean,
					value: false
				},
				"menuOpened": {
					type: Boolean,
					value: false
				},
				"user": {
					type: Object,
					value: function () {
						return {
							name: "Loading..."
						};
					}
				}
			},
			toggleMenu: function() {
				this.menuOpened = !this.menuOpened;
				if (this.menuOpened) {
					this.$.sidepanel.classList.remove("hidden");
				}
				else {
					this.$.sidepanel.classList.add("hidden");
				}
			},
			admin: function() {
				window.location = "/admin";
			},
			userResponse: function() {
				this.user = this.$["info-ajax"].response;
				window.user = this.user;
			},
			scheduleResponse: function () {
				this.schedule = this.$["schedule-ajax"].lastResponse;
				for (var i = 0; i < this.schedule.length; i++) {
					if (!this.schedule[i].location) {
						this.schedule[i].location = "";
					}
					this.schedule[i].shortTime = this.schedule[i].time.replace(/ (AM|PM)/g, "").replace(/ – /g, "\nto\n");
				}
				/*
				if (!this.$["schedule-ajax"].response.registered) {
					this.$.notRegistered.style.display = "block";
				}
				*/
				this.scheduleLoaded = true;
			},
			handleError: function(e) {
				var errorMessage = e.detail.response.response.error;
				if (e.detail.xhr.status === 403) {
					// User not logged in
					this.$.errorSection.style.display = "block";
					this.user.name = "Schedule"
					if (e.detail.response.response.data) {
						this.schedule = e.detail.response.response.data;
						for (var i = 0; i < this.schedule.length; i++) {
							if (!this.schedule[i].location) {
								this.schedule[i].location = "";
							}
							this.schedule[i].shortTime = this.schedule[i].time.replace(/ (AM|PM)/g, "").replace(/ – /g, "\nto\n");
						}
					}
				}
			},
			print: function() {
				window.location = "/schedule/print";
			}
		});
	</script>
</dom-module>