<link rel="import" href="/bower_components/polymer/polymer.html" />
<link rel="import" href="/bower_components/iron-ajax/iron-ajax.html" />
<link rel="import" href="/bower_components/iron-icons/iron-icons.html" />
<link rel="import" href="/bower_components/paper-material/paper-material.html" />
<link rel="import" href="/bower_components/paper-item/paper-item.html" />
<link rel="import" href="/bower_components/paper-dialog/paper-dialog.html" />
<link rel="import" href="/bower_components/paper-dialog-scrollable/paper-dialog-scrollable.html" />
<link rel="import" href="/bower_components/paper-ripple/paper-ripple.html" />
<link rel="import" href="/bower_components/paper-toast/paper-toast.html" />
<script src="/socket.io/socket.io.js"></script>

<dom-module id="timeslot-list">
	<style>
		paper-toast {
			width: 100%;
			min-width: 0;
			border-radius: 0;
			margin: 0;
			text-align: left;
		}
			paper-toast[error] {
				--paper-toast-background-color: #ff4136;
			}

		paper-item {
			margin-top: 5px;
			margin-bottom: 5px;
			padding-top: 10px;
			padding-bottom: 10px;
			cursor: pointer;
			-webkit-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			user-select: none;
			--paper-item-focused-before: {
				opacity: 0;
			}
		}
		paper-item > span, paper-item > .button-content > span {
			color: #555;
			width: 24px;
			text-align: center;
			margin-right: 10px;
			font-size: 1.4em;
			font-weight: bold;
		}

			paper-item > span core-icon, paper-item > .button-content > span core-icon {
				position: relative;
				top: -1px;
				left: -3px;
			}

		paper-item h2 {
			margin: 0;
			text-align: left;
			font-size: 1.4em;
		}
		paper-item h2 > small {
			color: #4F4F4F;
			font-weight: lighter;
			font-size: 75%;
			display: block;
			text-decoration: none !important;
		}
			paper-item h2 > small > .session-type {
				font-weight: bold;
			}
			paper-item h2 > small > .panelist::after {
				content: ",";
			}
			paper-item h2 > small > .panelist:last-of-type::after {
				content: "";
			}

		:host > p {
			font-size: 1.2em;
			margin-bottom: 0.5em;
			margin-top: 0;
		}

		paper-dialog {
			width: 80%;
			text-align: left;
		}
			paper-dialog h1 {
				line-height: 1em;
				font-size: 2em;
			}
				paper-dialog h1 small {
					float: left;
					opacity: 0.65;
					font-size: 60%;
					margin: 5px 0;
				}
		paper-dialog-scrollable {
			font-size: 1.1em;
			clear: both;
		}
		paper-dialog paper-button[dialog-dismiss] {
			color: black;
		}

		.flex-container {
			padding-top: 5px;
			@apply(--layout-horizontal);
		}
		.flex {
			@apply(--layout-flex);
		}
		.fade {
			opacity: 0.6;
		}
		.line-breaks {
			white-space: pre-line;
		}

		/* Mobile styles */
		@media screen and (max-width: 35.5em) {
			paper-item > span {
				display: none;
			}

			paper-item {
				width: auto;
			}
		}
	</style>
	<template>
		<iron-ajax id="user-ajax" auto url="/user" handle-as="json" last-response="{{user}}" on-error="handleError" params="{{userListParams}}"></iron-ajax>
		<iron-ajax id="get-sessions-ajax" auto url="{{url}}" handle-as="json" last-response="{{sessions}}" on-error="handleError"></iron-ajax>
		<iron-ajax id="choose-session-ajax" method="POST" url="{{url}}" handle-as="json" on-response="finishSelection" on-error="handleError"></iron-ajax>
		<p>Please choose a panel, global studies session, or science session to fill the <b>[[start.formatted]]</b> to <b>[[end.formatted]]</b> period</p>
		<div id="itemcontainer">
			<template is="dom-if" if="[[!sessions.length]]">
				<p style="font-size: 1.4em;">Loading...</p>
			</template>
			<template is="dom-repeat" items="[[sessions]]" as="session">
				<paper-item on-click="showDetails" id="[[session.title.slug]]">
					<paper-ripple></paper-ripple>
					<span><iron-icon icon="radio-button-unchecked"></iron-icon></span>
					<h2>
						<span>[[session.title.formatted]]</span>
						<template is="dom-if" if="[[session.moderator]]">
							<small>
								<span class="session-type">Panel</span> –
								<template is="dom-repeat" items="[[session.presenters]]" as="presenter">
									<span class="panelist">[[presenter.name]]</span>
								</template>
							</small>
						</template>
						<template is="dom-if" if="[[!session.moderator]]">
							<small>
								<template is="dom-if" if="[[_ifGlobalSession(session)]]">
									<span class="session-type">Global Session</span> –
								</template>
								<template is="dom-if" if="[[!_ifGlobalSession(session)]]">
									<span class="session-type">Science Session</span> –
								</template>
								<template is="dom-repeat" items="[[session.presenters]]" as="presenter">
									<!-- There should only be one presenter but this repeat destructures the array and future-proofs -->
									<span>[[presenter.name]]</span>
								</template>
							</small>
						</template>
					</h2>
				</paper-item>
			</template>
		</div>
		<paper-dialog id="session-detail" entry-animation="fade-in-animation" exit-animation="fade-out-animation" with-backdrop>
			<div class="flex-container">
				<h1>
					<span>[[selectedSession.title.formatted]]</span>
					<br />
					<small>[[selectedSession.time.start.formatted]] to [[selectedSession.time.end.formatted]] — [[selectedSession.location]] ([[selectedSession.capacity.filled]] / [[selectedSession.capacity.total]])</small>
				</h1>
			</div>
			<paper-dialog-scrollable class="line-breaks" style="margin-top: 0">
				[[selectedSession.description]]
			</paper-dialog-scrollable>
			<p>
				<!-- For panels -->
				<template is="dom-if" if="[[selectedSession.isPanel]]">
					<b>Panelists:</b>
					[[selectedSession.presentersString]]
					<br />
					<b>Moderator:</b>
					[[selectedSession.moderatorString]]
				</template>
				<!-- For regular sessions -->
				<template is="dom-if" if="[[!selectedSession.isPanel]]">
					<b>Presenter:</b>
					[[selectedSession.presentersString]]
				</template>
			</p>
			<div class="buttons">
				<paper-button dialog-dismiss>Close</paper-button>
				<paper-button dialog-dismiss on-click="sessionSelect" style="color: #4285f4;">Select</paper-button>
			</div>
		</paper-dialog>
		<paper-toast id="loading" text="Loading..." duration="0"></paper-toast>
		<paper-toast id="done" text="Something happened" duration="5000"></paper-toast>
		<paper-toast id="error" error text="Something happened" duration="5000"></paper-toast>
	</template>
	<script>
		Polymer({
			is: "timeslot-list",
			properties: {
				url: {
					type: String,
					notify: true
				},
				start: {
					type: Object,
					notify: true
				},
				end: {
					type: Object,
					notify: true
				},
				index: {
					type: Number,
					notify: true
				},
				selectedSession: {
					type: Object,
					value: function () {
						return {};
					}
				},
				previousSelectedSession: {
					type: Object,
					value: null
				}
			},
			_ifGlobalSession: function (session) {
				return session.type == "Global session";
			},
			forceSelectedSessionUpdate: function () {
				// Don't ask me why this hack is necessary
				// I think it has something to do with the fact that Polymer doesn't think adding properties consists of an update to the object
				var temp = this.selectedSession;
				this.selectedSession = {};
				this.selectedSession = temp;
			},
			ready: function () {
				// WebSocket connection to update session availability in real-time
				var socket = io.connect("/");
				socket.on("availability", (function (data) {
					// Update selected session
					if (this.selectedSession && this.selectedSession.title && this.selectedSession.title.slug === data.slug) {
						this.selectedSession.capacity.filled = data.attendees;
						this.forceSelectedSessionUpdate();
					}
					// Update all session data
					this.sessions = this.sessions.map(function (session) {
						if (session.title.slug === data.slug) {
							session.capacity.filled = data.attendees;
						}
						return session;
					});
				}.bind(this)));

				// Polyfill until ES6 is widely supported
				if (!Array.prototype.find) {
					Array.prototype.find = function (predicate) {
						if (this === null) {
							throw new TypeError('Array.prototype.find called on null or undefined');
						}
						if (typeof predicate !== 'function') {
							throw new TypeError('predicate must be a function');
						}
						var list = Object(this);
						var length = list.length >>> 0;
						var thisArg = arguments[1];
						var value;

						for (var i = 0; i < length; i++) {
							value = list[i];
							if (predicate.call(thisArg, value, i, list)) {
								return value;
							}
						}
						return undefined;
					};
				}
			},
			showDetails: function (e) {
				var slug = e.currentTarget.id;
				this.previousSelectedSession = this.selectedSession;
				this.selectedSession = this.sessions.find(function (session) {
					return session.title.slug === slug;
				});
				if (!this.selectedSession)
					return;
				this.selectedSession.presentersString = this.selectedSession.presenters.map(function (presenter) {
					return presenter.name;
				}).join(", ");
				this.selectedSession.isPanel = !!this.selectedSession.moderator;
				if (this.selectedSession.moderator) {
					this.selectedSession.moderatorString = this.selectedSession.moderator.name;
				}
				this.forceSelectedSessionUpdate();

				this.$["session-detail"].open();
			},
			sessionSelect: function (e) {
				this.$["session-detail"].close();
				// Register this with the server
				var sendData = {
					"slug": this.selectedSession.title.slug
				};
				this.$.loading.open();
				this.$["choose-session-ajax"].contentType = "application/json";
				this.$["choose-session-ajax"].body = sendData;
				this.$["choose-session-ajax"].generateRequest();
			},
			finishSelection: function () {
				this.$.loading.close();
				var response = this.$["choose-session-ajax"].lastResponse;
				if (!response.success) {
					this.$.error.show(response.message);
				}
				else {
					// Unselect the previous choice
					if (this.previousSelectedSession && this.previousSelectedSession.title) {
						document.getElementById(this.previousSelectedSession.title.slug).querySelector("iron-icon").icon = "radio-button-unchecked";
					}
					// Turn the item's dash into a checkmark
					document.getElementById(this.selectedSession.title.slug).querySelector("iron-icon").icon = "radio-button-checked";
					// Dim the other items
					var titles = this.getElementsByTagName("h2");
					for (var i = 0; i < titles.length; i++) {
						titles[i].style.opacity = "0.5";
					}
					document.getElementById(this.selectedSession.title.slug).querySelector("h2").style.opacity = "1";
					// Proceed
					var buttons = document.getElementsByTagName("paper-button");
					var button = null;
					for (var i = 0; i < buttons.length; i++) {
						if (buttons[i].index === this.index && buttons[i].hasAttribute("forward")) {
							button = buttons[i];
							break;
						}
					}
					this.toggleAttribute("disabled", false, button);
					button.click();
				}
			},
			handleError: function (e) {
				this.$.loading.close();
				this.$.error.show(e.target.lastError.error.message || "An error occurred!");

				// Failed requests will still deregister any previous registrations for that session type
				// Unselect the previous choice
				if (this.previousSelectedSession && this.previousSelectedSession.title) {
					document.getElementById(this.previousSelectedSession.title.slug).querySelector("iron-icon").icon = "radio-button-unchecked";
				}
				// Undim all other items
				var titles = this.getElementsByTagName("h2");
				for (var i = 0; i < titles.length; i++) {
					titles[i].style.opacity = "1";
				}
			}
		});
	</script>
</dom-module>