<link rel="import" href="/bower_components/polymer/polymer.html" />
<link rel="import" href="/components/content-section.html" />

<dom-module id="admin-emails">
	<style>
		/* TODO(polyup): For speed, consider reworking these styles with .classes
								and #ids rather than [attributes].
			*/
		[layout] {
			@apply(--layout);
		}

			[layout][horizontal] {
				@apply(--layout-horizontal);
			}
	</style>
	<style>
		paper-toast {
			width: 100%;
			min-width: 0;
			border-radius: 0;
			margin: 0;
		}
			paper-toast[error] {
				--paper-toast-background-color: #ff4136;
			}

		content-section:first-of-type h2, content-section:nth-of-type(2) h2 {
			margin-bottom: 0;
		}

		paper-button[raised] {
			background: #3ea346;
			color: #fff;
		}
		paper-button[raised][disabled] {
			background: #eaeaea;
			color: #a8a8a8;
		}
		paper-button a {
			color: rgb(153, 153, 153);
			text-decoration: none;
		}

		paper-input, paper-textarea, paper-dropdown-menu {
			--paper-input-container-focus-color: #3ea346;
		}

		paper-toggle-button {
			--paper-toggle-button-checked-bar-color: #3ea346;
			--paper-toggle-button-checked-button-color: #3ea346;
			--paper-toggle-button-checked-ink-color: #3ea346;
		}

		paper-item {
			--paper-item-focused-before: {
				opacity: 0;
			}
		}

		.flex-container {
			padding-top: 5px;
			@apply(--layout-horizontal);
		}
		.flex {
			@apply(--layout-flex);
		}

		content-section p, content-section paper-toggle-button {
			text-align: center;
			margin: 10px;
		}

		/* Mobile styles */
		@media screen and (max-width: 35.5em) {

		}
	</style>
	<template>
		<content-section>
			<h2>Registration Settings</h2>
			<iron-ajax id="registration-open-ajax" auto url="/admin/registration/open" handle-as="json" last-response="{{registrationOpen}}" on-error="handleError"></iron-ajax>
			<iron-ajax id="registration-open-set-ajax" url="/admin/registration/open" method="PUT" handle-as="json" on-response="updateRegistrationOpenResponse" on-error="handleError"></iron-ajax>
			<iron-ajax id="get-emails-ajax" auto url="/admin/registration/email" handle-as="json" last-response="{{emailStatus}}" on-error="handleError"></iron-ajax>
			<iron-ajax id="send-registration-emails-ajax" url="/admin/registration/email/registration" method="POST" handle-as="json" on-response="sendRegistrationEmailsResponse" on-error="handleError"></iron-ajax>
			<iron-ajax id="send-schedule-emails-ajax" url="/admin/registration/email/schedule" method="POST" handle-as="json" on-response="sendScheduleEmailsResponse" on-error="handleError"></iron-ajax>
			<iron-ajax auto id="stats-ajax" url="/admin/registration/stats" handle-as="json" last-response="{{registrationStats}}" on-error="handleError"></iron-ajax>
			<iron-ajax id="autoregister-ajax" url="/admin/registration/auto" method="POST" handle-as="json" on-response="autoregisterResponse" on-error="handleError"></iron-ajax>
			<paper-toggle-button id="open" checked="[[registrationOpen.open]]" on-change="updateRegistrationOpen" style="width: 184px; margin: 20px auto;">
				<template is="dom-if" if="[[registrationOpen.open]]">
					Registration open
				</template>
				<template is="dom-if" if="[[!registrationOpen.open]]">
					Registration closed
				</template>
			</paper-toggle-button>
			<p>
				[[registrationStats.students.registered]] of [[registrationStats.students.total]] students have registered.
				<br />
				[[registrationStats.faculty.registered]] of [[registrationStats.faculty.total]] faculty have registered.
			</p>
		</content-section>
		<content-section>
			<h2>Send Emails</h2>
			<p>Send registration emails to all GFA students and teachers that have been imported or added in the <code>Users</code> tab. This can take a few minutes to complete.</p>
			<p><small>Last run on [[emailStatus.registration.formatted]]</small></p>
			<div class="flex-container">
				<span class="flex"></span>
				<!--style="background-color: #ff4136"-->
				<paper-button raised on-click="sendRegistrationEmails">Send registration emails</paper-button>
				<span class="flex"></span>
			</div>
			<br />
			<p>Send an email to each GFA student and teacher containing their personalized schedule or generalized schedule if not yet registered. This can take a few minutes to complete.</p>
			<p><small>Last run on [[emailStatus.schedule.formatted]]</small></p>
			<div class="flex-container">
				<span class="flex"></span>
				<paper-button raised on-click="sendScheduleEmails">Send schedule emails</paper-button>
				<span class="flex"></span>
			</div>
		</content-section>
		<content-section>
			<h2>Autoregister</h2>
			<p>This will automatically register all unregistered users into available sessions from least full to most full. This will only affect unregistered users and cannot be undone.</p>
			<div class="flex-container">
				<span class="flex"></span>
				<paper-button raised on-click="autoregister">Autoregister</paper-button>
				<span class="flex"></span>
			</div>
		</content-section>
		<paper-toast id="loading" text="Loading..." duration="0"></paper-toast>
		<paper-toast id="done" text="Something happened" duration="5000"></paper-toast>
		<paper-toast id="error" error text="Something happened" duration="5000"></paper-toast>
	</template>
	<script>
		Polymer({
			is: "admin-emails",
			sendRegistrationEmails: function () {
				var message = "Are you sure that you want to send out registration emails? Make sure that registration is open!";
				if (!confirm(message))
					return;
				this.$.loading.open();
				this.$["send-registration-emails-ajax"].generateRequest();
			},
			sendRegistrationEmailsResponse: function () {
				this.$.loading.close();
				var response = this.$["send-registration-emails-ajax"].lastResponse;
				if (!response.success) {
					this.$.error.show(response.message);
				}
				else {
					this.$.done.show(response.message);
				}
				this.$["get-emails-ajax"].generateRequest();
			},
			sendScheduleEmails: function () {
				var message = "Are you sure that you want to send out schedule emails? Make sure that all users have registered or been autoregistered!";
				if (!confirm(message))
					return;
				this.$.loading.open();
				this.$["send-schedule-emails-ajax"].generateRequest();
			},
			sendScheduleEmailsResponse: function () {
				this.$.loading.close();
				var response = this.$["send-schedule-emails-ajax"].lastResponse;
				if (!response.success) {
					this.$.error.show(response.message);
				}
				else {
					this.$.done.show(response.message);
				}
				this.$["get-emails-ajax"].generateRequest();
			},
			updateRegistrationOpen: function () {
				var currentValue = this.$.open.checked;
				this.$.loading.open();
				this.$["registration-open-set-ajax"].contentType = "application/json";
				this.$["registration-open-set-ajax"].body = {
					"open": currentValue
				};
				this.$["registration-open-set-ajax"].generateRequest();
			},
			updateRegistrationOpenResponse: function () {
				this.$.loading.close();
				var response = this.$["registration-open-set-ajax"].lastResponse;
				if (!response.success) {
					this.$.error.show(response.message);
				}
				else {
					this.$.done.show(response.message);
				}
				this.$["registration-open-ajax"].generateRequest();
			},
			autoregister: function () {
				var message = "Are you sure that you want to autoregister all unregistered users?";
				if (!confirm(message))
					return;
				this.$.loading.open();
				this.$["autoregister-ajax"].generateRequest();
			},
			autoregisterResponse: function () {
				this.$.loading.close();
				var response = this.$["autoregister-ajax"].lastResponse;
				if (!response.success) {
					this.$.error.show(response.message);
				}
				else {
					this.$.done.show(response.message);
				}
				this.$["stats-ajax"].generateRequest();
			},
			handleError: function (e) {
				this.$.loading.close();
				this.$.error.show(e.target.lastError.error.message || "An error occurred!");
			}
		});
	</script>
</dom-module>