<link rel="import" href="/bower_components/polymer/polymer.html" />
<link rel="import" href="/bower_components/iron-icons/iron-icons.html" />
<link rel="import" href="/bower_components/paper-item/paper-item.html" />
<link rel="import" href="/bower_components/paper-item/paper-item-body.html" />
<link rel="import" href="/bower_components/iron-ajax/iron-ajax.html" />
<link rel="import" href="/bower_components/paper-button/paper-button.html" />
<link rel="import" href="/bower_components/paper-toast/paper-toast.html" />
<link rel="import" href="/bower_components/iron-flex-layout/iron-flex-layout.html" />
<link rel="import" href="/bower_components/paper-input/paper-input.html" />
<link rel="import" href="/bower_components/paper-input/paper-textarea.html" />
<link rel="import" href="/bower_components/paper-toggle-button/paper-toggle-button.html" />
<link rel="import" href="/bower_components/paper-dialog/paper-dialog.html" />
<link rel="import" href="/bower_components/paper-dropdown-menu/paper-dropdown-menu.html" />
<link rel="import" href="/bower_components/paper-listbox/paper-listbox.html" />
<link rel="import" href="/components/content-section.html" />

<dom-module id="admin-sessions">
	<style>
		/* TODO(polyup): For speed, consider reworking these styles with .classes
						 and #ids rather than [attributes].
		*/
		[layout] {
			@apply(--layout);
		}

			[layout][horizontal] {
				@apply(--layout-horizontal);
			}
	</style>
	<style>
		paper-toast {
			width: 100%;
			min-width: 0;
			border-radius: 0;
			margin: 0;
		}
			paper-toast[error] {
				--paper-toast-background-color: #ff4136;
			}

		content-section:first-of-type h2, content-section:nth-of-type(2) h2 {
			margin-bottom: 0;
		}

		paper-button[raised] {
			background: #3ea346;
			color: #fff;
		}
		paper-button[raised][disabled] {
			background: #eaeaea;
			color: #a8a8a8;
		}
		paper-button a {
			color: rgb(153, 153, 153);
			text-decoration: none;
		}

		paper-input, paper-textarea, paper-dropdown-menu {
			--paper-input-container-focus-color: #3ea346;
		}

		paper-toggle-button {
			--paper-toggle-button-checked-bar-color: #3ea346;
			--paper-toggle-button-checked-button-color: #3ea346;
			--paper-toggle-button-checked-ink-color: #3ea346;
		}

		span[suffix] {
			opacity: 0.6;
		}

		paper-item {
			--paper-item-focused-before: {
				opacity: 0;
			}
		}
		
		.flex-container {
			padding-top: 5px;
			@apply(--layout-horizontal);
		}
		.flex {
			@apply(--layout-flex);
		}

		/* Mobile styles */
		@media screen and (max-width: 35.5em) {

		}
	</style>
	<template>
		<iron-ajax id="add-session-ajax" method="POST" url="/admin/session" handle-as="json" on-response="addSessionResponse" on-error="handleError"></iron-ajax>
		<content-section>
			<h2>Add Session</h2>
			<paper-input id="title" label="Title"></paper-input>
			<paper-textarea id="description" label="Description"></paper-textarea>

			<div class="flex-container">
				<paper-input id="location" label="Location" style="width: 49%;"></paper-input>
				<span class="flex"></span>
				<paper-input id="capacity" label="Maximum capacity" type="number" value="30" min="1" style="width: 49%;">
					<div suffix>people</div>
				</paper-input>
			</div>

			<div class="flex-container">
				<paper-dropdown-menu id="type" label="Session type" style="width: 33%;">
					<paper-listbox class="dropdown-content">
						<paper-item>Global session</paper-item>
						<paper-item>Science session</paper-item>
						<paper-item>Panel</paper-item>
					</paper-listbox>
				</paper-dropdown-menu>
				<span class="flex"></span>
				<paper-input id="time" label="Start time" value="12:00 PM" style="width: 30%;" auto-validate pattern="^([1-9]|0[1-9]|1[0-2]):[0-5][0-9] (AM|PM|am|pm)$" error-message="Invalid time"></paper-input>
				<span class="flex"></span>
				<paper-input id="duration" label="Duration" type="number" value="50" step="5" min="5" style="width: 33%;">
					<div suffix>minutes</div>
				</paper-input>
			</div>
			<div class="flex-container">
				<span class="flex"></span>
				<paper-button raised style="margin-top: 10px;" on-click="addSession">Add</paper-button>
				<span class="flex"></span>
			</div>
		</content-section>
		<paper-toast id="loading" text="Loading..." duration="0"></paper-toast>
		<paper-toast id="done" text="Something happened" duration="5000"></paper-toast>
		<paper-toast id="error" error text="Something happened" duration="5000"></paper-toast>
	</template>
	<script>
		Polymer({
			is: "admin-sessions",
			properties: {
				
			},
			ready: function () {

			},
			addSession: function () {
				if (!this.$.time.validate()) {
					this.showError("Please enter a valid time");
				}
				var sendData = {
					title: this.$.title.value.trim(),
					description: this.$.description.value.trim(),
					location: this.$.location.value.trim(),
					capacity: parseInt(this.$.capacity.value, 10),
					type: this.$.type.value,
					startTime: this.$.time.value,
					duration: parseInt(this.$.duration.value, 10)
				};
				if (!sendData.title || !sendData.description || !sendData.location || !sendData.type || !sendData.startTime) {
					this.showError("Please enter missing information");
				}
				sendData.title = sendData.title.trim();
				sendData.description = sendData.description.trim();
				sendData.location = sendData.location.trim();
				if (!sendData.title || !sendData.description || !sendData.location) {
					this.showError("Please enter missing information");
				}
				if (isNaN(capacity) || capacity < 1) {
					this.showError("Please enter a valid capacity");
				}
				if (isNaN(duration) || duration < 1) {
					this.showError("Please enter a valid duration");
				}

				this.$.loading.open();
				this.$["add-session-ajax"].contentType = "application/json";
				this.$["add-session-ajax"].body = sendData;
				this.$["add-session-ajax"].generateRequest();
			},
			addSessionResponse: function () {
				this.$.loading.close();
				var response = this.$["add-session-ajax"].lastResponse;
				if (!response.success) {
					this.showError(response.message);
				}
				else {
					this.showMessage(response.message);
				}
			},
			handleError: function (e) {
				this.$.loading.close();
				this.showError(e.target.lastError.error.message || "An error occurred!");
			},
			showMessage: function (message) {
				this.$.done.text = message;
				this.$.done.open();
			},
			showError: function (message) {
				this.$.error.text = message;
				this.$.error.show();
			}
		})
	</script>
</dom-module>