<link rel="import" href="/bower_components/polymer/polymer.html" />
<link rel="import" href="/bower_components/iron-icons/iron-icons.html" />
<link rel="import" href="/bower_components/paper-item/paper-item.html" />
<link rel="import" href="/bower_components/paper-item/paper-item-body.html" />
<link rel="import" href="/bower_components/iron-ajax/iron-ajax.html" />
<link rel="import" href="/bower_components/paper-button/paper-button.html" />
<link rel="import" href="/bower_components/paper-toast/paper-toast.html" />
<link rel="import" href="/bower_components/iron-flex-layout/iron-flex-layout.html" />
<link rel="import" href="/bower_components/paper-input/paper-input.html" />
<link rel="import" href="/bower_components/paper-input/paper-textarea.html" />
<link rel="import" href="/bower_components/paper-toggle-button/paper-toggle-button.html" />
<link rel="import" href="/bower_components/paper-dialog/paper-dialog.html" />
<link rel="import" href="/bower_components/paper-dialog-scrollable/paper-dialog-scrollable.html" />
<link rel="import" href="/bower_components/paper-dropdown-menu/paper-dropdown-menu.html" />
<link rel="import" href="/bower_components/paper-listbox/paper-listbox.html" />
<link rel="import" href="/bower_components/paper-ripple/paper-ripple.html" />
<link rel="import" href="/bower_components/neon-animation/neon-animations.html" />
<link rel="import" href="/bower_components/paper-autocomplete/paper-autocomplete.html" />
<link rel="import" href="/components/content-section.html" />

<dom-module id="admin-sessions">
	<style>
		/* TODO(polyup): For speed, consider reworking these styles with .classes
						 and #ids rather than [attributes].
		*/
		[layout] {
			@apply(--layout);
		}

			[layout][horizontal] {
				@apply(--layout-horizontal);
			}
	</style>
	<style>
		paper-toast {
			width: 100%;
			min-width: 0;
			border-radius: 0;
			margin: 0;
		}
			paper-toast[error] {
				--paper-toast-background-color: #ff4136;
			}

		content-section:first-of-type h2, content-section:nth-of-type(2) h2 {
			margin-bottom: 0;
		}

		paper-button[raised] {
			background: #3ea346;
			color: #fff;
		}
		paper-button[raised][disabled] {
			background: #eaeaea;
			color: #a8a8a8;
		}
		paper-button a {
			color: rgb(153, 153, 153);
			text-decoration: none;
		}

		paper-input, paper-textarea, paper-dropdown-menu {
			--paper-input-container-focus-color: #3ea346;
		}

		paper-toggle-button {
			--paper-toggle-button-checked-bar-color: #3ea346;
			--paper-toggle-button-checked-button-color: #3ea346;
			--paper-toggle-button-checked-ink-color: #3ea346;
		}

		span[suffix] {
			opacity: 0.6;
		}

		paper-item {
			cursor: pointer;
			-webkit-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			user-select: none;
			--paper-item-focused-before: {
				opacity: 0;
			}
		}
		paper-item .info {
			padding: 0 5px;
			font-family: "Roboto", "Noto", sans-serif;
			-webkit-font-smoothing: antialiased;
			font-size: 14px;
			font-weight: 400;
			line-height: 20px;
			color: #737373;
			margin-top: 1px;
		}
		
		paper-dialog {
			width: 80%;
		}
		paper-dialog h1 {
			font-size: 2em;
		}
		paper-dialog h1 small {
			float: left;
			opacity: 0.65;
			font-size: 60%;
			margin: 5px 0;
		}
		paper-dialog-scrollable {
			font-size: 1.1em;
			clear: both;
		}
		
		.flex-container {
			padding-top: 5px;
			@apply(--layout-horizontal);
		}
		.flex {
			@apply(--layout-flex);
		}
		.fade {
			opacity: 0.6;
		}
		.line-breaks {
			white-space: pre-line;
		}
		h4 {
			margin: 10px 0 0;
		}
		paper-item.presenters {
			padding: 0;
		}
		paper-item.presenters::before {
			content: "●";
			padding-right: 12px;
			padding-left: 12px;
		}
		paper-item.presenters:last-child {
			margin-bottom: -10px;
		}

		content-section:last-of-type {
			--content-section-margin-bottom: 200px;
		}

		/* Mobile styles */
		@media screen and (max-width: 35.5em) {

		}
	</style>
	<template>
		<iron-ajax id="add-session-ajax" method="POST" url="/admin/session" handle-as="json" on-response="addSessionResponse" on-error="handleError"></iron-ajax>
		<iron-ajax id="delete-session-ajax" method="DELETE" url="/admin/session" handle-as="json" on-response="deleteSessionResponse" on-error="handleError"></iron-ajax>
		<content-section>
			<h2>Sessions</h2>
			<iron-ajax id="sessions-ajax" auto url="/admin/session" handle-as="json" last-response="{{sessions}}" on-error="handleError"></iron-ajax>
			<template is="dom-repeat" items="[[sessions]]">
				<paper-item on-click="openDetail" slug="[[item.title.slug]]">
					<paper-ripple></paper-ripple>
					<paper-item-body two-line>
						<div>[[item.title.formatted]]</div>
						<div secondary>[[item.time.start.formatted]] to [[item.time.end.formatted]] – <b>[[item.location]]</b></div>
					</paper-item-body>
					<div class="info">[[item.type]]</div>
				</paper-item>
			</template>
		</content-section>
		<paper-dialog id="session-detail" entry-animation="fade-in-animation" exit-animation="fade-out-animation" with-backdrop>
			<div class="flex-container" style="max-height: 80px;">
				<h1>
					<span>[[selectedSession.title.formatted]]</span>
					<br />
					<small>[[selectedSession.time.start.formatted]] to [[selectedSession.time.end.formatted]] on [[selectedSession.time.date]] — [[selectedSession.location]] ([[selectedSession.capacity.filled]] / [[selectedSession.capacity.total]])</small>
				</h1>
				<span class="flex"></span>
				<div class="fade">
					<paper-icon-button icon="delete" style="margin-top: 20px;" on-click="deleteSession"></paper-icon-button>
				</div>
			</div>
			<paper-dialog-scrollable class="line-breaks" style="margin-top: 0">
				[[selectedSession.description]]
			</paper-dialog-scrollable>
			<p>
				<!-- For panels -->
				<template is="dom-if" if="[[selectedSession.isPanel]]">
					<b>Panelists:</b>
					[[selectedSession.presentersString]]
					<br />
					<b>Moderator:</b>
					[[selectedSession.moderatorString]]
				</template>
				<!-- For regular sessions -->
				<template is="dom-if" if="[[!selectedSession.isPanel]]">
					<b>Presenter:</b>
					[[selectedSession.presentersString]]
				</template>
			</p>
			<div class="buttons">
				<paper-button dialog-dismiss autofocus>Close</paper-button>
			</div>
		</paper-dialog>
		<content-section>
			<h2>Add Session</h2>
			<paper-input id="title" label="Title"></paper-input>
			<paper-textarea id="description" label="Description"></paper-textarea>

			<div class="flex-container">
				<paper-input id="location" label="Location" style="width: 49%;"></paper-input>
				<span class="flex"></span>
				<paper-input id="capacity" label="Maximum capacity" type="number" value="30" min="1" style="width: 49%;">
					<div suffix>people</div>
				</paper-input>
			</div>

			<div class="flex-container">
				<paper-dropdown-menu id="type" label="Session type" style="width: 33%;" on-iron-select="updateMultiplePresenters">
					<paper-listbox class="dropdown-content">
						<paper-item>Global session</paper-item>
						<paper-item>Science session</paper-item>
						<paper-item>Panel</paper-item>
					</paper-listbox>
				</paper-dropdown-menu>
				<span class="flex"></span>
				<paper-input id="time" label="Start time" value="12:00 PM" style="width: 30%;" auto-validate pattern="^([1-9]|0[1-9]|1[0-2]):[0-5][0-9] (AM|PM|am|pm)$" error-message="Invalid time"></paper-input>
				<span class="flex"></span>
				<paper-input id="duration" label="Duration" type="number" value="50" step="5" min="5" style="width: 33%;">
					<div suffix>minutes</div>
				</paper-input>
			</div>

			<template is="dom-if" if="[[arePresenters]]">
				<template is="dom-if" if="[[!multiplePresenters]]">
					<h4>Presenter</h4>
				</template>
				<template is="dom-if" if="[[multiplePresenters]]">
					<h4>Presenters</h4>
				</template>
			</template>
			<template is="dom-repeat" items="[[presenters]]">
				<paper-item class="presenters">
					<paper-item-body>
						<div>[[item.name]]</div>
					</paper-item-body>
					<paper-icon-button icon="clear" on-click="removePresenter" index="[[index]]"></paper-icon-button>
				</paper-item>
			</template>

			<iron-ajax auto url="/admin/user?all=true" handle-as="json" last-response="{{users}}" on-error="handleError"></iron-ajax>
			<paper-autocomplete id="presenter" label="Presenter name" source="[[users]]">
				<paper-icon-button suffix icon="add" on-click="addPresenter"></paper-icon-button>
			</paper-autocomplete>

			<template is="dom-if" if="[[multiplePresenters]]">
				<paper-autocomplete id="moderator" label="Moderator name" source="[[users]]"></paper-autocomplete>
			</template>

			<div class="flex-container">
				<span class="flex"></span>
				<paper-button raised style="margin-top: 10px;" on-click="addSession">Add</paper-button>
				<span class="flex"></span>
			</div>
		</content-section>
		<paper-toast id="loading" text="Loading..." duration="0"></paper-toast>
		<paper-toast id="done" text="Something happened" duration="5000"></paper-toast>
		<paper-toast id="error" error text="Something happened" duration="5000"></paper-toast>
	</template>
	<script>
		Polymer({
			is: "admin-sessions",
			properties: {
				"selectedSession": {
					type: Object,
					value: function () {
						return {};
					}
				},
				"presenters": {
					type: Array,
					value: function () {
						return [];
					}
				},
				"arePresenters": {
					type: Boolean,
					value: false
				},
				"multiplePresenters": {
					type: Boolean,
					value: false
				}
			},
			ready: function () {
				if (!Array.prototype.find) {
					Array.prototype.find = function (predicate) {
						if (this === null) {
							throw new TypeError('Array.prototype.find called on null or undefined');
						}
						if (typeof predicate !== 'function') {
							throw new TypeError('predicate must be a function');
						}
						var list = Object(this);
						var length = list.length >>> 0;
						var thisArg = arguments[1];
						var value;

						for (var i = 0; i < length; i++) {
							value = list[i];
							if (predicate.call(thisArg, value, i, list)) {
								return value;
							}
						}
						return undefined;
					};
				}
			},
			openDetail: function (e) {
				var slug = e.currentTarget.slug;
				this.selectedSession = this.sessions.find(function (session) {
					return session.title.slug === slug;
				});
				this.selectedSession.presentersString = this.selectedSession.presenters.map(function (presenter) {
					return presenter.name;
				}).join(", ");
				this.selectedSession.isPanel = !!this.selectedSession.moderator;
				if (this.selectedSession.moderator) {
					this.selectedSession.moderatorString = this.selectedSession.moderator.name;
				}
				// Don't ask me why this hack is necessary
				// I think it has something to do with the fact that Polymer doesn't think adding properties consists of an update to the object
				var temp = this.selectedSession;
				this.selectedSession = {};
				this.selectedSession = temp;

				this.$["session-detail"].open();
			},
			addPresenter: function () {
				var name = this.$.presenter.getOption().text.trim();
				if (!name)
					return;
				if (this.presenters.length >= 1 && !this.multiplePresenters) {
					this.$.error.show("Only panels can have multiple presenters");
					return;
				}
				this.presenters = this.presenters.concat({
					"name": name
				});
				this.$.presenter.clear();
				this.arePresenters = true;
			},
			removePresenter: function (e) {
				var presenters = this.presenters.concat();
				presenters.splice(e.currentTarget.index, 1);
				this.presenters = presenters;
				if (this.presenters.length < 1)
					this.arePresenters = false;
			},
			updateMultiplePresenters: function (e) {
				if (e.currentTarget.value === "Panel") {
					this.multiplePresenters = true;
				}
				else {
					this.multiplePresenters = false;
					this.presenters = this.presenters.splice(0, 1);
				}
			},
			addSession: function () {
				var addPresenterName = this.$.presenter.getOption().text.trim();
				if (addPresenterName) {
					// The user forgot to properly add a filled in presenter
					if (this.multiplePresenters || (!this.multiplePresenters && this.presenters.length === 0)) {
						this.presenters = this.presenters.concat({
							"name": addPresenterName
						});
						this.arePresenters = true;
					}
					this.$.presenter.clear();
				}

				if (!this.$.time.validate()) {
					this.$.error.show("Please enter a valid time");
					return;
				}
				if (this.presenters.length < 1) {
					this.$.error.show("Please add a presenter");
					return;
				}
				if (this.multiplePresenters && !this.$$("#moderator").getOption().text.trim()) {
					this.$.error.show("Please add a moderator");
					return;
				}
				var sendData = {
					title: this.$.title.value,
					description: this.$.description.value,
					location: this.$.location.value,
					capacity: parseInt(this.$.capacity.value, 10),
					type: this.$.type.value,
					startTime: this.$.time.value,
					duration: parseInt(this.$.duration.value, 10),
					presenters: this.presenters,
					moderator: (this.multiplePresenters) ? this.$$("#moderator").getOption().text.trim() : null
				};
				if (!sendData.title || !sendData.description || !sendData.location || !sendData.type || !sendData.startTime) {
					this.$.error.show("Please enter missing information");
					return;
				}
				sendData.title = sendData.title.trim();
				sendData.description = sendData.description.trim();
				sendData.location = sendData.location.trim();
				if (!sendData.title || !sendData.description || !sendData.location) {
					this.$.error.show("Please enter missing information");
					return;
				}
				if (isNaN(sendData.capacity) || sendData.capacity < 1) {
					this.$.error.show("Please enter a valid capacity");
					return;
				}
				if (isNaN(sendData.duration) || sendData.duration < 1) {
					this.$.error.show("Please enter a valid duration");
					return;
				}

				this.$.loading.open();
				this.$["add-session-ajax"].contentType = "application/json";
				this.$["add-session-ajax"].body = sendData;
				this.$["add-session-ajax"].generateRequest();
			},
			addSessionResponse: function () {
				this.$.loading.close();
				var response = this.$["add-session-ajax"].lastResponse;
				if (!response.success) {
					this.$.error.show(response.message);
				}
				else {
					this.$.done.show(response.message);
					// Reset form
					this.$.title.value = "";
					this.$.description.value = "";
					this.$.location.value = "";
					this.$.capacity.value = "30";
					// First set the dropdown to a session to hide the moderator field then set to null
					this.$.type.querySelector("paper-listbox").selected = 0;
					this.$.type.querySelector("paper-listbox").selected = null;
					this.$.time.value = "12:00 PM";
					this.$.duration.value = "50";
					this.presenters = [];
					this.arePresenters = false;
					if (this.multiplePresenters) {
						this.multiplePresenters = false;
						this.$$("#moderator").clear();
					}
				}
				// Refresh list
				this.$["sessions-ajax"].generateRequest();
			},
			deleteSession: function () {
				var message = "Are you sure that you want to delete the session titled \"" + this.selectedSession.title.formatted + "\"?";
				if (!confirm(message))
					return;

				var url = "/admin/session/" + this.selectedSession.title.slug;
				this.$["session-detail"].close();
				this.$.loading.open();
				this.$["delete-session-ajax"].url = url;
				this.$["delete-session-ajax"].contentType = "application/json";
				this.$["delete-session-ajax"].generateRequest();
			},
			deleteSessionResponse: function () {
				this.$.loading.close();
				var response = this.$["delete-session-ajax"].lastResponse;
				if (!response.success) {
					this.$.error.show(response.message);
				}
				else {
					this.$.done.show(response.message);
				}
				// Refresh list
				this.$["sessions-ajax"].generateRequest();
			},
			handleError: function (e) {
				this.$.loading.close();
				this.$.error.show(e.target.lastError.error.message || "An error occurred!");
			}
		})
	</script>
</dom-module>