<link rel="import" href="/bower_components/polymer/polymer.html" />
<link rel="import" href="/components/content-section.html" />

<dom-module id="admin-users">
	<style>
		/* TODO(polyup): For speed, consider reworking these styles with .classes
						 and #ids rather than [attributes].
		*/
		[layout] {
			@apply(--layout);
		}
			[layout][horizontal] {
				@apply(--layout-horizontal);
			}
	</style>
	<style>
		paper-toast {
			width: 100%;
			min-width: 0;
			border-radius: 0;
			margin: 0;
		}
			paper-toast[error] {
				--paper-toast-background-color: #ff4136;
			}

		paper-menu paper-item {
			padding-left: 24px;
			cursor: pointer;
		}
		paper-menu paper-item a {
			color: rgb(33, 33, 33);
			text-decoration: none;
		}
		paper-menu paper-item iron-icon {
			padding-right: 8px;
		}

		content-section:first-of-type h2, content-section:nth-of-type(2) h2 {
			margin-bottom: 0;
		}

		paper-button[raised] {
			background: #3ea346;
			color: #fff;
		}
		paper-button[raised][disabled] {
			background: #eaeaea;
			color: #a8a8a8;
		}
		paper-button a {
			color: rgb(153, 153, 153);
			text-decoration: none;
		}

		paper-input, paper-textarea, paper-dropdown-menu {
			--paper-input-container-focus-color: #3ea346;
		}

		paper-toggle-button {
			--paper-toggle-button-checked-bar-color: #3ea346;
			--paper-toggle-button-checked-button-color: #3ea346;
			--paper-toggle-button-checked-ink-color: #3ea346;
		}

		paper-item {
			--paper-item-focused-before: {
				opacity: 0;
			}
		}
		paper-item .info {
			padding: 0 5px;
			font-family: "Roboto", "Noto", sans-serif;
			-webkit-font-smoothing: antialiased;
			font-size: 14px;
			font-weight: 400;
			line-height: 20px;
			color: #737373;
			margin-top: 1px;
		}
		div.list-info {
			text-align: center;
			font-style: italic;
		}
		
		span[suffix], .fade {
			opacity: 0.6;
		}

		input[type="file"] {
			border-bottom: 1px solid #737373;
			padding-bottom: 2px;
			color: #212121;
			outline: none;
			width: 80%;
			font-family: Roboto;
			font-size: 95%;
		}

		.flex-container {
			padding-top: 5px;
			@apply(--layout-horizontal);
		}
		.flex {
			@apply(--layout-flex);
		}

		content-section p {
			text-align: center;
		}

		#userMove {
			width: 82%;
			display: inline-block;
			margin-right: 28px;
			margin-top: 15px;
		}

		/* Mobile styles */
		@media screen and (max-width: 35.5em) {

		}
	</style>
	<template>
		<iron-ajax id="user-ajax" auto url="/user" handle-as="json" on-response="userResponse" on-error="handleError"></iron-ajax>
		<iron-ajax id="add-user-ajax" method="PUT" handle-as="json" on-response="addUserResponse" on-error="handleError"></iron-ajax>
		<iron-ajax id="delete-user-ajax" method="DELETE" url="/admin/user" handle-as="json" on-response="deleteUserResponse" on-error="handleError"></iron-ajax>
		<iron-ajax id="delete-users-ajax" method="DELETE" url="/admin/user" handle-as="json" on-response="deleteUsersResponse" on-error="handleError"></iron-ajax>
		<iron-ajax id="move-user-search-ajax" url="/admin/move" handle-as="json" on-response="moveUserSearchResponse" on-error="handleError"></iron-ajax>
		<content-section>
			<h2>Users</h2>
			<iron-ajax id="users-ajax" auto url="/admin/user" handle-as="json" last-response="{{users}}" on-error="handleError" params="{{userListParams}}"></iron-ajax>
			
			<div style="text-align: center;">
				<paper-dropdown-menu id="filter" label="Filter" style="margin-right: 15px;">
					<paper-listbox class="dropdown-content" selected="0">
						<paper-item filter="all">All</paper-item>
						<paper-item filter="student">Students</paper-item>
						<paper-item filter="freshman">Freshmen</paper-item>
						<paper-item filter="sophomore">Sophomores</paper-item>
						<paper-item filter="junior">Juniors</paper-item>
						<paper-item filter="senior">Seniors</paper-item>
						<paper-item filter="teacher">Teachers</paper-item>
						<paper-item filter="parent">Parents</paper-item>
						<paper-item filter="alum">Alumni</paper-item>
						<paper-item filter="visitor">Visitors</paper-item>
						<paper-item filter="other">Other</paper-item>
						<paper-item filter="admin">Admins</paper-item>
						<paper-item filter="nonadmin">Non-admins</paper-item>
					</paper-listbox>
				</paper-dropdown-menu>
				<paper-icon-button icon="refresh" on-click="refreshUserList"></paper-icon-button>
			</div>

			<div class="list-info" style="margin-top: 10px;">[[users.info.total]] [[_usersPluralize(users)]]</div>

			<template is="dom-if" if="[[users.data.length]]">
				<template is="dom-repeat" items="[[users.data]]">
					<paper-item>
						<paper-item-body two-line>
							<div>[[item.name]]</div>
							<div secondary>[[item.email]]</div>
						</paper-item-body>
						<template is="dom-if" if="[[item.admin]]">
							<div class="info">Admin</div>
						</template>
						<template is="dom-if" if="[[_shouldShowLabel(item)]]">
							<div class="info">[[_getLabelFromType(item)]]</div>
						</template>
						<template is="dom-if" if="[[item.registered]]">
							<paper-icon-button class="fade" icon="assignment-turned-in" on-click="explainRegistered"></paper-icon-button>
						</template>
						<template is="dom-if" if="[[!item.registered]]">
							<paper-icon-button class="fade" icon="assignment-late" on-click="explainUnregistered"></paper-icon-button>
						</template>
						<paper-icon-button icon="link" on-click="copyLink" code="[[item.code]]"></paper-icon-button>
						<paper-icon-button icon="clear" on-click="deleteUser" username="[[item.username]]"></paper-icon-button>
					</paper-item>
				</template>
				<div class="list-info">Page [[users.info.page]] of [[users.info.totalPages]]</div>
				<div class="flex-container">
					<span class="flex"></span>
					<paper-button on-click="previousUserList">Previous</paper-button>
					<paper-button on-click="nextUserList">Next</paper-button>
					<span class="flex"></span>
				</div>
			</template>
			<template is="dom-if" if="[[!users.data.length]]">
				<p><i>No users found. Try adjusting the filter and refreshing.</i></p>
			</template>
		</content-section>
		<content-section>
			<h2>Move Users</h2>
			<iron-ajax auto url="/admin/user?all=true" handle-as="json" last-response="{{usersAutocomplete}}" on-error="handleError"></iron-ajax>
			<iron-ajax auto id="sessions-ajax" url="/admin/session" handle-as="json" last-response="{{sessions}}" on-error="handleError"></iron-ajax>
			<paper-autocomplete id="userMove" label="Name of user" source="[[usersAutocomplete]]"></paper-autocomplete>
			<paper-button raised on-click="moveUserSearch">Search</paper-button>
			<br />
			<template is="dom-if" if="[[moveUserInfo]]">
				<div class="flex-container" style="margin-top: 5px">
					<h3 style="margin: 5px 0">[[moveUserInfo.name]]</h3>
					<span class="flex"></span>
					<div style="position: relative; top: -3px;">
						<template is="dom-if" if="[[moveUserInfo.registered]]">
							<paper-icon-button class="fade" icon="assignment-turned-in" on-click="explainRegistered"></paper-icon-button>
						</template>
						<template is="dom-if" if="[[!moveUserInfo.registered]]">
							<paper-icon-button class="fade" icon="assignment-late" on-click="explainUnregistered"></paper-icon-button>
						</template>
						<paper-icon-button icon="link" on-click="copyLink" code="[[moveUserInfo.code]]"></paper-icon-button>
					</div>
				</div>
			</template>
			<template is="dom-repeat" items="[[moveUserData]]">
				<paper-item>
					<paper-item-body two-line>
						<div class="flex-container">
							<div style="width: 49%;">
								<div secondary>[[item.time.start.formatted]] to [[item.time.end.formatted]]</div>
								<div>[[item.title.formatted]]</div>
							</div>
							<span class="flex"></span>
							<paper-dropdown-menu label="Move to..." style="width: 49%; margin-top: -10px;" disabled$="[[item.mandatory]]">
								<paper-listbox class="dropdown-content" selected$="[[_computeSelectedSession(item, sessions)]]">
									<paper-item>Free</paper-item>
									<template is="dom-repeat" items="[[sessions]]" as="session">
										<paper-item slug="[[session.title.slug]]">[[session.title.formatted]]</paper-item>
									</template>
								</paper-listbox>
							</paper-dropdown-menu>
						</div>
					</paper-item-body>
				</paper-item>
			</template>
			<template is="dom-if" if="[[moveUserData.length]]">
				<div class="flex-container">
					<span class="flex"></span>
					<paper-button raised>Save changes</paper-button>
					<span class="flex"></span>
				</div>
			</template>
		</content-section>
		<content-section>
			<h2>Add Users</h2>
			<p><small>This form is for adding GFA users only. Have non-GFA users visit the <a href="/user/signup" target="_blank">sign up page</a> to sign up instead.</small></p>
			<paper-input label="Name" on-input="updateUsername" id="addUserName"></paper-input>
			<paper-input label="Username" id="addUserUsername">
				<span suffix>@gfacademy.org</span>
			</paper-input>
			<div class="flex-container" style="padding-top: 10px;">
				<span class="flex"></span>
				<paper-toggle-button id="addUserType" on-change="updateUsername"><span id="addUsersTypeLabel">Student</span></paper-toggle-button>
				<span class="flex"></span>
				<paper-toggle-button id="addUserAdmin">Admin</paper-toggle-button>
				<span class="flex"></span>
				<paper-button raised disabled id="addUserButton" on-click="addUserSubmit">Add</paper-button>
				<span class="flex"></span>
			</div>
		</content-section>
		<content-section>
			<h2>Import Users</h2>
			<p>Upload an Excel file with students on the first sheet and faculty on the second. Columns should be first name, last name, email address, and grade (students only) in that order.</p>
			<input type="file" accept=".xlsx" />
			<paper-button id="import" raised on-click="importUsers" style="margin: 0 4%;">Import</paper-button>
		</content-section>
		<content-section>
			<h2>Delete Users</h2>
			<p>This will delete every single non-admin user. This is <em>cannot</em> be undone.</p>
			<div class="flex-container">
				<span class="flex"></span>
				<paper-button id="delete-all" raised on-click="deleteUsers" style="background-color: #ff4136">Delete all</paper-button>
				<span class="flex"></span>
			</div>
		</content-section>
		<paper-toast id="loading" text="Loading..." duration="0"></paper-toast>
		<paper-toast id="done" text="Something happened" duration="5000"></paper-toast>
		<paper-toast id="error" error text="Something happened" duration="5000"></paper-toast>
	</template>
	<script>
		Polymer({
			is: "admin-users",
			properties: {
				userListParams: {
					type: Object,
					value: function () {
						return { page: 0, filter: "all" };
					}
				}
			},
			_shouldShowLabel: function (item) {
				return item.type > 0;
			},
			_getLabelFromType: function (item) {
				/* common.ts:
				enum UserType {
					Student,
					Teacher,
					Parent,
					Alum,
					Visitor,
					Other
				};
				*/
				switch (item.type) {
					case 0:
						return "Student";
					case 1:
						return "Teacher";
					case 2:
						return "Parent";
					case 3:
						return "Alumnus / Alumna";
					case 4:
						return "Visitor";
					case 5:
						return "Other";
				}
			},
			_usersPluralize: function (users) {
				if (users.data.length === 1) {
					return "user";
				}
				return "users";
			},
			_computeSelectedSession: function (item, sessions) {
				var slug = item.title.slug;
				for (var i = 0; i < sessions.length; i++) {
					if (sessions[i].title.slug === slug) {
						return i + 1;
					}
				}
				return 0;
			},
			explainRegistered: function () {
				this.$.done.show("This user has registered");
			},
			explainUnregistered: function () {
				this.$.done.show("This user hasn't registered yet");
			},
			updateUsername: function () {
				// Automatically fill the username field
				var name = this.$.addUserName.value.trim();
				var isTeacher = this.$.addUserType.checked;
				this.$.addUsersTypeLabel.textContent = (isTeacher) ? "Teacher" : "Student";
				if (!name) {
					this.$.addUserUsername.value = "";
					Polymer.dom(this.$.addUserButton).setAttribute("disabled", "disabled");
					return;
				}

				name = name.split(" ");
				if (name.length !== 2)
					return;
				var lastName = name[1];
				var username = "";
				if (isTeacher) {
					// Teacher usernames are of the form first initial + last name
					username = name[0][0] + lastName;
				}
				else {
					// Student usernames are of the form last name + first initial
					username = lastName + name[0][0];
				}
				username = username.toLowerCase();
				this.$.addUserUsername.value = username;
				Polymer.dom(this.$.addUserButton).removeAttribute("disabled");
			},
			addUserSubmit: function () {
				var sendData = {
					"name": this.$.addUserName.value,
					"username": this.$.addUserUsername.value,
					"teacher": this.$.addUserType.checked,
					"admin": this.$.addUserAdmin.checked
				};
				if (!sendData.name || !sendData.username) {
					this.$.error.show("Please enter both the user's name and username");
					return;
				}
				sendData.name = sendData.name.trim();
				sendData.username = sendData.username.trim();
				if (!sendData.name || !sendData.username) {
					this.$.error.show("Please enter both the user's name and username");
					return;
				}

				this.$.loading.open();
				this.$["add-user-ajax"].url = "/admin/user/" + sendData.username;
				this.$["add-user-ajax"].contentType = "application/json";
				this.$["add-user-ajax"].body = sendData;
				this.$["add-user-ajax"].generateRequest();
			},
			addUserResponse: function () {
				this.$.loading.close();
				var response = this.$["add-user-ajax"].lastResponse;
				if (!response.success) {
					this.$.error.show(response.message);
				}
				else {
					this.$.done.show(response.message);
					// Clear the form
					this.$.addUserName.value = "";
					this.$.addUserUsername.value = "";
					this.$.addUserType.checked = false;
					this.$.addUserAdmin.checked = false;
				}
				// Refresh users list
				this.refreshUserList();
			},
			userResponse: function () {
				this.user = this.$["user-ajax"].lastResponse;
				window.user = this.user;
			},
			nextUserList: function (e) {
				var currentPage = this.userListParams.page;
				var currentFilter = this.userListParams.filter;
				currentPage++;
				if (currentPage >= this.users.info.totalPages) {
					currentPage--;
				}
				this.userListParams = {
					page: currentPage,
					filter: currentFilter
				};
			},
			previousUserList: function (e) {
				var currentPage = this.userListParams.page;
				var currentFilter = this.userListParams.filter;
				currentPage--;
				if (currentPage < 0) {
					currentPage = 0;
				}
				this.userListParams = {
					page: currentPage,
					filter: currentFilter
				};
			},
			refreshUserList: function () {
				var previousFilter = this.userListParams.filter;
				this.userListParams.filter = this.$.filter.selectedItem.getAttribute("filter");
				if (this.userListParams.filter !== previousFilter) {
					this.userListParams.page = 0;
				}
				this.$["users-ajax"].generateRequest();
			},
			copyLink: function (e) {
				var code = e.currentTarget.code;
				var link = "https://wppsymposium.org/user/login/" + code;
				window.prompt("To copy this user's login link to the clipboard press Ctrl+C (or Cmd+C)", link);
			},
			deleteUser: function (e) {
				var username = e.currentTarget.username;
				var message = "Are you sure that you want to delete the user \"" + username + "\"?";
				if (!confirm(message))
					return;

				var url = "/admin/user/" + username;
				this.$.loading.open();
				this.$["delete-user-ajax"].url = url;
				this.$["delete-user-ajax"].contentType = "application/json";
				this.$["delete-user-ajax"].generateRequest();
			},
			deleteUserResponse: function () {
				this.$.loading.close();
				var response = this.$["delete-user-ajax"].lastResponse;
				if (!response.success) {
					this.$.error.show(response.message);
				}
				else {
					this.$.done.show(response.message);
				}
				// Refresh users list
				this.$["users-ajax"].generateRequest();
			},
			moveUserSearch: function () {
				var name = this.$.userMove.getOption().text.trim();
				if (!name)
					return;
				this.$.loading.open();
				this.$["move-user-search-ajax"].url = "/admin/move/" + encodeURIComponent(name);
				this.$["move-user-search-ajax"].contentType = "application/json";
				this.$["move-user-search-ajax"].generateRequest();
			},
			moveUserSearchResponse: function () {
				this.$.loading.close();
				var response = this.$["move-user-search-ajax"].lastResponse;
				if (!response.success) {
					this.$.error.show(response.message);
				}
				else {
					this.moveUserData = response.data;
					this.moveUserInfo = response.user;
				}
			},
			importUsers: function () {
				var file = this.$$('input[type="file"]');
				if (file.files.length !== 1)
					return;
				var excelFile = file.files[0];
				if (!excelFile.name.match("\.xlsx$")) {
					this.$.error.show("Please choose a valid Excel file (.xlsx)");
					return;
				}
				var formData = new FormData();
				formData.append("import", excelFile);
				var xhr = new XMLHttpRequest();
				xhr.open("POST", "/admin/user", true);
				xhr.onload = (function () {
					this.$.loading.close();
					this.toggleAttribute("disabled", false, this.$.import);
					// Refresh the list of users
					this.refreshUserList();
					try {
						var response = JSON.parse(xhr.response);
					}
					catch (e) {
						this.$.error.show("The server returned a response that was not understandable");
						return;
					}
					if (!response.success) {
						this.$.error.show(response.message);
					}
					else {
						this.$.done.show(response.message);
						file.value = null;
					}
				}).bind(this);
				this.$.loading.open();
				this.toggleAttribute("disabled", true, this.$.import);
				xhr.send(formData);
			},
			deleteUsers: function (e) {
				var message = "Are you sure that you want to delete every single non-admin user? This cannot be undone.";
				if (!confirm(message))
					return;

				this.$.loading.open();
				this.$["delete-users-ajax"].generateRequest();
			},
			deleteUsersResponse: function () {
				this.$.loading.close();
				var response = this.$["delete-users-ajax"].lastResponse;
				if (!response.success) {
					this.$.error.show(response.message);
				}
				else {
					this.$.done.show(response.message);
				}
				// Refresh users list
				this.refreshUserList();
			},
			handleError: function (e) {
				this.$.loading.close();
				this.$.error.show(e.target.lastError.error.message || "An error occurred!");
			}
		})
	</script>
</dom-module>