<link rel="import" href="/bower_components/polymer/polymer.html" />
<link rel="import" href="/bower_components/iron-icons/iron-icons.html" />
<link rel="import" href="/bower_components/paper-item/paper-item.html" />
<link rel="import" href="/bower_components/paper-item/paper-item-body.html" />
<link rel="import" href="/bower_components/iron-ajax/iron-ajax.html" />
<link rel="import" href="/bower_components/paper-button/paper-button.html" />
<link rel="import" href="/bower_components/paper-toast/paper-toast.html" />
<link rel="import" href="/bower_components/iron-flex-layout/iron-flex-layout.html" />
<link rel="import" href="/bower_components/paper-input/paper-input.html" />
<link rel="import" href="/bower_components/paper-input/paper-textarea.html" />
<link rel="import" href="/bower_components/paper-toggle-button/paper-toggle-button.html" />
<link rel="import" href="/bower_components/paper-dialog/paper-dialog.html" />
<link rel="import" href="/bower_components/paper-dialog-scrollable/paper-dialog-scrollable.html" />
<link rel="import" href="/bower_components/paper-dropdown-menu/paper-dropdown-menu.html" />
<link rel="import" href="/bower_components/paper-listbox/paper-listbox.html" />
<link rel="import" href="/components/content-section.html" />

<dom-module id="admin-schedules">
	<style>
		/* TODO(polyup): For speed, consider reworking these styles with .classes
						 and #ids rather than [attributes].
		*/
		[layout] {
			@apply(--layout);
		}
			[layout][horizontal] {
				@apply(--layout-horizontal);
			}
	</style>
	<style>
		paper-toast {
			width: 100%;
			min-width: 0;
			border-radius: 0;
			margin: 0;
		}
			paper-toast[error] {
				--paper-toast-background-color: #ff4136;
			}

		content-section:first-of-type h2, content-section:nth-of-type(2) h2 {
			margin-bottom: 0;
		}

		paper-button[raised] {
			background: #3ea346;
			color: #fff;
		}
		paper-button[raised][disabled] {
			background: #eaeaea;
			color: #a8a8a8;
		}
		paper-button a {
			color: rgb(153, 153, 153);
			text-decoration: none;
		}

		paper-dialog {
			width: 80%;
		}
		paper-dialog h1 {
			font-size: 2em;
			margin-bottom: 0;
		}
		paper-dialog h1 small {
			float: left;
			opacity: 0.65;
			font-size: 60%;
			margin: 5px 0;
		}
		paper-dialog paper-toggle-button {
			margin-top: 10px;
			justify-content: center;
		}

		paper-input, paper-textarea, paper-dropdown-menu {
			--paper-input-container-focus-color: #3ea346;
		}

		paper-toggle-button {
			--paper-toggle-button-checked-bar-color: #3ea346;
			--paper-toggle-button-checked-button-color: #3ea346;
			--paper-toggle-button-checked-ink-color: #3ea346;
		}

		paper-item {
			--paper-item-focused-before: {
				opacity: 0;
			}
		}

		.flex-container {
			padding-top: 5px;
			@apply(--layout-horizontal);
		}
		.flex {
			@apply(--layout-flex);
		}

		p.info {
			text-align: center;
			font-style: italic;
			font-size: 1em;
			margin: 10px;
		}

		/* Mobile styles */
		@media screen and (max-width: 35.5em) {

		}
	</style>
	<template>
		<content-section>
			<h2>Master Schedule</h2>

			<iron-ajax auto method="GET" url="/admin/schedule/date" handle-as="json" last-response="{{date}}" on-error="handleError"></iron-ajax>
			<iron-ajax id="change-date-ajax" method="PATCH" url="/admin/schedule/date" handle-as="json" on-response="changeDateResponse" on-error="handleError"></iron-ajax>
			<div class="flex-container">
				<paper-input id="date" label="Symposium date (applied to newly created sessions)" value="[[date.formatted]]" auto-validate pattern="^(January|February|March|April|May|June|July|August|September|October|November|December) ([0-9]|0[0-9]|1[0-9]|2[0-9]|3[0-1]){1,2}(th|st|nd|rd)?,? [0-9]{4}$" error-message="Invalid date" style="width: 80%;"></paper-input>
				<span class="flex"></span>
				<paper-button raised on-click="changeDate" style="margin: 0 4%; height: 42px; align-self: center;">Set Date</paper-button>
			</div>

			<p class="info">Bolded periods are customized by users during registration</p>
			<iron-ajax id="schedule-ajax" auto url="/admin/schedule" handle-as="json" last-response="{{schedule}}" on-error="handleError"></iron-ajax>
			<template is="dom-repeat" items="[[schedule]]">
				<paper-item>
					<paper-item-body two-line>
						<div>
							<template is="dom-if" if="[[item.editable]]">
								<b>[[item.title]]</b>
							</template>
							<template is="dom-if" if="[[!item.editable]]">
								[[item.title]]
							</template>
						</div>
						<div secondary>
							<span class="time">[[item.time.start.formatted]] – [[item.time.end.formatted]]</span>
							<template is="dom-if" if="[[item.location]]">
								&nbsp;|&nbsp;
								<span class="location">[[item.location]]</span>
							</template>
						</div>
					</paper-item-body>
					<paper-button time="[[item.time.start.raw]]" on-click="openDetail">Edit</paper-button>
					<paper-icon-button icon="arrow-upward"></paper-icon-button>
					<paper-icon-button icon="arrow-downward"></paper-icon-button>
					<paper-icon-button icon="clear"></paper-icon-button>
				</paper-item>
			</template>
			<div class="flex-container">
				<span class="flex"></span>
				<paper-button raised>Add period</paper-button>
				<span class="flex"></span>
			</div>
			<paper-dialog id="schedule-detail" entry-animation="fade-in-animation" exit-animation="fade-out-animation" with-backdrop>
				<div class="flex-container">
					<h1>
						[[selectedPeriod.title]]
						<br />
						<small>
							[[selectedPeriod.time.start.formatted]] to [[selectedPeriod.time.end.formatted]]
							<template is="dom-if" if="[[selectedPeriod.location]]">
								—&nbsp;[[selectedPeriod.location]]
							</template>
						 </small>
					</h1>
				</div>
				<paper-dialog-scrollable>
					<paper-input id="title" label="Title"></paper-input>
					<div class="flex-container">
						<paper-input id="time" label="Start time" value="12:00 PM" style="width: 49%;" auto-validate pattern="^([1-9]|0[1-9]|1[0-2]):[0-5][0-9] (AM|PM|am|pm)$" error-message="Invalid time"></paper-input>
						<span class="flex"></span>
						<paper-input id="duration" label="Duration" type="number" value="50" step="5" min="5" style="width: 49%;">
							<div suffix>minutes</div>
						</paper-input>
					</div>
					<paper-input id="location" label="Location (optional)"></paper-input>
					<paper-toggle-button id="customizable">Customizable</paper-toggle-button>
				</paper-dialog-scrollable>
				<div class="buttons">
					<paper-button id="update" dialog-dismiss>Update</paper-button>
					<paper-button dialog-dismiss autofocus>Cancel</paper-button>
				</div>
			</paper-dialog>
		</content-section>
		<content-section>
			<h2>Attendee Schedules</h2>
		</content-section>
		<paper-toast id="loading" text="Loading..." duration="0"></paper-toast>
		<paper-toast id="done" text="Something happened" duration="5000"></paper-toast>
		<paper-toast id="error" error text="Something happened" duration="5000"></paper-toast>
	</template>
	<script>
		Polymer({
			is: "admin-schedules",
			properties: {
				"selectedPeriod": {
					type: Object,
					value: function () {
						return {};
					}
				}
			},
			showDateDialog: function () {
				this.$.symposiumDateDialog.toggle();
			},
			changeDate: function () {
				// Remove st, nd, rd, and th from the date if they are there
				var date = this.$.date.value.trim().replace(/(\d+)(st|nd|rd|th)/i, "$1");
				var sendData = { date: date };
				this.$.loading.open();
				this.$["change-date-ajax"].contentType = "application/json";
				this.$["change-date-ajax"].body = sendData;
				this.$["change-date-ajax"].generateRequest();
			},
			changeDateResponse: function () {
				this.$.loading.close();
				var response = this.$["change-date-ajax"].lastResponse;
				if (!response.success) {
					this.$.error.show(response.message);
				}
				else {
					this.$.done.show(response.message);
				}
			},
			openDetail: function (e) {
				var time = e.currentTarget.time;
				this.selectedPeriod = this.schedule.find(function (period) {
					return period.time.start.raw === time;
				});
				this.$.title.value = this.selectedPeriod.title;
				this.$.time.value = this.selectedPeriod.time.start.formatted;
				if (this.selectedPeriod.location) {
					this.$.location.value = this.selectedPeriod.location;
				}
				else {
					this.$.location.value = "";
				}
				var startTime = new Date(this.selectedPeriod.time.start.raw);
				var endTime = new Date(this.selectedPeriod.time.end.raw);
				var duration = Math.abs(Math.round((endTime - startTime) / 1000 / 60));
				this.$.duration.value = duration.toString();
				this.$.customizable.checked = this.selectedPeriod.editable;
				// Don't ask me why this hack is necessary
				// I think it has something to do with the fact that Polymer doesn't think adding properties consists of an update to the object
				var temp = this.selectedPeriod;
				this.selectedPeriod = {};
				this.selectedPeriod = temp;

				this.$["schedule-detail"].open();
			},
			handleError: function (e) {
				this.$.loading.close();
				this.$.error.show(e.target.lastError.error.message || "An error occurred!");
			}
		})
	</script>
</dom-module>